{% extends "ledger/base.html" %}
{% load i18n ledger %}


{% block content %}
<div class="row">
    <div class="col text-end">
        <a class="btn btn-outline-primary" href="{% url "account_create" %}?next={% url "account_list" %}" title="{% translate "Add account" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal" role="button"><span class="fa-solid fa-plus"></span> {% translate "Add" %}</a>
    </div>
</div>
{% if accounts %}
<div class="row mt-md-2">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">{% translate "Account" %}</th>
                        <th class="text-center" scope="col">{% translate "Balance" %}</th>
                        <th class="text-center" scope="col">{% translate "Outstanding" %}</th>
                        <th class="text-center" scope="col">{% translate "Number of Files" %}</th>
                        <th class="text-center" scope="col">{% translate "Number of entries" %}</th>
                        <th class="text-center" scope="col">{% translate "Last entry" %}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                        <tr>
                            <th scope="row"><a href="{% url "account_detail" account.slug %}" title="{{ account.name }}">{{ account.name }}{% if account.closed %} [{% translate "closed" %}]{% endif %}</a></th>
                            <td class="text-end">{{ account|balance }}</td>
                            <td class="text-end">{{ account|outstanding }}</td>
                            <td class="text-end">{{ account.files.count }}</td>
                            <td class="text-end">{{ account.entries.count }}</td>
                            <td class="text-end">{{ account.entries.last.date|date:"l, d. F Y" }}</td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle menu-dropdown-toggle" id="options-{entry.id}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa-solid fa-ellipsis-h"></span></a>
                                    <div class="dropdown-menu" aria-labelledby="options-{entry.id}">
                                        <div class="dropdown-item text-muted">
                                            {{ account.name }}
                                        </div>
                                        <div><hr class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url "account_edit" account.slug %}?next={% url "account_list" %}" title="{% translate "Edit account" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fa-solid fa-edit"></span> {% translate "Edit" %}</a>
                                        <a class="dropdown-item" href="{% url "account_close" account.slug %}" title="{% if account.closed %}{% translate "Reopen account" %}{% else %}{% translate "Close account" %}{% endif %}"><span class="fa-solid fa-clone"></span> {% if account.closed %}{% translate "Reopen" %}{% else %}{% translate "Close" %}{% endif %}</a>
                                        <a class="dropdown-item" href="{% url "account_delete" account.slug %}" title="{% translate "Delete account" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fa-solid fa-trash"></span> {% translate "Delete" %}</a>
                                        <a class="dropdown-item" href="{% url "file_create" account|content_type_pk account.pk %}" title="{% blocktranslate with name=account.name %}Add file to account {{ name }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fa-solid fa-upload"></span> {% translate "Add file" %}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col text-center">
        <h3>{% translate "There are no accounts available." %}</h3>
    </div>
</div>
{% endif %}
{% endblock %}
