{% extends "ledger/popup.html" %}
{% load i18n %}


{% block content %}
<div class="alert alert-danger" role="alert">
    <h5><b>{% trans "Confirm deletion" %}</b></h5>
    <p>{% blocktrans %}Are you sure you want to delete this account? All of the following objects and their related items will be deleted:{% endblocktrans %}</p>
    <ul>
        <li>
            {% trans "Account" %}: <em>{{ account.name }}</em>
            {% if account.entries %}
                <ul>
                    {% for entry in account.entries.all %}
                        <li>{% trans "Entry" %}: <em>#{{ entry.serial_number }}: {{ entry.date|date:"D., d. F Y" }} - {{ entry.category.name }}</em></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    </ul>
    <form action="" method="post">{% csrf_token %}</form>
</div>
{% endblock%}
