{% extends "ledger/base.html" %}
{% load i18n accounts %}


{% block content %}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-sm">
                <tbody>
                    {% for unit in units %}
                        <tr>
                            <th>{{ unit.name }}</th>
                            <td></td>
                            <td>{{ unit|balance }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
