{% extends "ledger/base.html" %}
{% load django_html_utils i18n l10n ledger static units %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $("#id_start_date").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true,
            minDate: "{{ min_date|date:"Y-m-d" }}"
        });
        $("#id_end_date").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true,
            minDate: "{{ min_date|date:"Y-m-d" }}"
        });
        $("#id_choices").select2({
            placeholder: "{% translate "Accounts, Categories, Tags, Units" %}",
            language: "{{ LANGUAGE_CODE }}",
            width: "element",
            templateSelection: function (data) {
                if ( data.id.startsWith("a") ) {
                    return "{% translate "Account" %}: " + data.text;
                }
                else if ( data.id.startsWith("c") ) {
                    return "{% translate "Category" %}: " + data.text;
                }
                else if ( data.id.startsWith("t") ) {
                    return "{% translate "Tag" %}: " + data.text;
                }
                else if ( data.id.startsWith("u") ) {
                    return "{% translate "Unit" %}: " + data.text;
                }
                else {
                    return data.text;
                }
            },
            ajax: {
                url: "{% url "choices_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.choices }
                }
            }
        });
    });
</script>
{% endblock %}


{% block content %}
{% if entries or choices|length > 0 %}
<div class="row">
    <div class="col-2">
        {% balances %}
    </div>
    <div class="col-8 text-center">
        {% if form %}
            {% translate "Filter" as filter_translate %}
            {% url "entry_list" as form_url %}
            {% form csrf=False method="get" form=form url=form_url type="inline" submit_icon="fa-solid fa-search" submit_title=filter_translate %}
        {% endif %}
    </div>
   <div class="col-2 text-end">
       <a class="btn btn-outline-primary" href="{% url "entry_create" %}" title="{% translate "Add entry" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal">{% fa "plus" %} {% translate "Add" %}</a>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">{% translate "Account" %}</th>
                        <th scope="col">{% translate "Date" %}</th>
                        <th scope="col">{% translate "Amount" %}</th>
                        <th scope="col">{% translate "Category" %}</th>
                        <th scope="col">{% translate "Text & Tags" %}</th>
                        <th scope="col">{% translate "Files" %}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% now "Y-m-d" as today %}
                    {% for entry in entries %}
                        <tr {% if entry.date|date:"Y-m-d" == today %}class="table-info"{% endif %}>
                            <th scope="row">
                                <a href="{% url "entry_list" %}?per_page={{ per_page }}&choices=a{{ entry.account.pk }}{% if end_date %}&end_date={{ end_date|date:"Y-m-d" }}{% endif %}" title="{{ entry.account.name }}">{{ entry.account.name }}</a>
                                <a href="{% url "entry_detail" entry.pk %}" title="{{ entry }}" data-bs-toggle="modal" data-bs-target="#iframeFormModal">#{{ entry.serial_number }}</a>
                            </th>
                            <td>{{ entry.date|date:"D, d.m.Y" }}</td>
                            <td class="text-end"{% if entry.fees != 0 %} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="{% translate "Amount" %}: {{ entry.amount|floatformat:entry.account.unit.precision }} {{ entry.account.unit.symbol }}<br>{% translate "Fees" %}: {{ entry.fees|floatformat:entry.account.unit.precision }} {{ entry.account.unit.symbol }}"{% endif %}>{{ entry.total|unitcolorfy:entry.account.unit }}</td>
                            <td><a href="{% url "entry_list" %}?per_page={{ per_page }}&choices=c{{ entry.category.pk }}{% if end_date %}&end_date={{ end_date|date:"Y-m-d" }}{% endif %}">{{ entry.category }}</a></td>
                            <td>
                                {% if entry.text %}{{ entry.text }}{% if entry.tags.all %}, {% endif %}{% endif %}
                                {% for tag in entry.tags.all %}
                                    <a href="{% url "entry_list" %}?per_page={{ per_page }}&choices=t{{ tag.pk }}{% if end_date %}&end_date={{ end_date|date:"Y-m-d" }}{% endif %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for file in entry.files.all %}
                                    <a href="{% url "file_detail" file.slug %}">{{ file.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle menu-dropdown-toggle" id="options-{entry.id}" data-bs-toggle="dropdown" data-bs-boundary="viewport" aria-haspopup="true" aria-expanded="false">{% fa "ellipsis-h" %}</a>
                                    <div class="dropdown-menu" aria-labelledby="options-{entry.id}">
                                        <div class="dropdown-item text-muted">
                                            {{ entry.account.name }} #{{ entry.serial_number }}
                                        </div>
                                        <div><hr class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url "entry_edit" entry.pk %}" title="{% blocktranslate with account=entry.account.name entry_no=entry.serial_number %}Edit entry {{ account }} #{{ entry_no }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal">{% fa "edit" %} {% translate "Edit" %}</a>
                                        <a class="dropdown-item" href="{% url "entry_duplicate" entry.pk %}" title="{% translate "Duplicate entry" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal">{% fa "clone" %} {% translate "Duplicate" %}</a>
                                        <a class="dropdown-item" href="{% url "entry_swap" entry.pk "down" %}?per_page={{ per_page }}{% if start_date %}&start_date={{ start_date|date:"Y-m-d" }}{% endif %}{% if end_date %}&end_date={{ end_date|date:"Y-m-d" }}{% endif %}{% if choices %}&choices={% for c in choices %}{{ c }}{% if not forloop.last %}&choices={% endif %}{% endfor %}{% endif %}" title="{% translate "Move down" %}">{% fa "arrow-down" %} {% translate "Move down" %}</a>
                                        <a class="dropdown-item" href="{% url "entry_swap" entry.pk "up" %}?per_page={{ per_page }}{% if start_date %}&start_date={{ start_date|date:"Y-m-d" }}{% endif %}{% if end_date %}&end_date={{ end_date|date:"Y-m-d" }}{% endif %}{% if choices %}&choices={% for c in choices %}{{ c }}{% if not forloop.last %}&choices={% endif %}{% endfor %}{% endif %}" title="{% translate "Move up" %}">{% fa "arrow-up" %} {% translate "Move up" %}</a>
                                        <a class="dropdown-item" href="{% url "entry_delete" entry.pk %}" title="{% blocktranslate with account=entry.account.name entry_no=entry.serial_number %}Delete entry {{ account }} #{{ entry_no }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal">{% fa "trash" %} {% translate "Delete" %}</a>
                                        <a class="dropdown-item" href="{% url "file_create" entry|content_type_pk entry.pk %}" title="{% blocktranslate with account=entry.account.name entry=entry.serial_number %}Add file to entry {{ account }} #{{ entry }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal">{% fa "upload" %} {% translate "Add file" %}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% url "entry_list" as base_path %}
        {% if per_page is not None %}
        {% translate "Entries" as pagination_title %}
        {% pagination paginator page_obj base_path pagination_title start_date=start_date end_date=end_date per_page=per_page choices=choices|join:"&choices=" %}
        {% endif %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="col text-center">
        <h3>{% translate "There is no data available." %}</h3>
    </div>
</div>
{% endif %}
{% endblock %}
