{% extends "popup.html" %}
{% load django_html_utils i18n l10n ledger %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
{% url "standing_entry_create" as standing_entry_url %}
<script type="text/javascript">
    $(function() {
        $("#id_date").datepicker({
            dateFormat:"yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $("#date_today").click(function() {
            $("#id_date").val("{% now "Y-m-d" %}");
            $("#id_amount").focus();
            return false;
        });
        $("#id_end_date").datepicker({
                dateFormat: "yy-mm-dd",
                firstDay: 1,
                showOtherMonths: true,
                selectOtherMonths: true
            });
        $("#id_account").select2({
            placeholder: "{% translate "Select a account" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
            ajax: {
                url: "{% url "account_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term, closed: false };
                },
                processResults: function (data, params) {
                    return { results: data.accounts }
                }
            }
        });
        $("#id_category").select2({
            placeholder: "{% translate "Select a category" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
            ajax: {
                url: "{% url "category_autocomplete" %}?append",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.categories }
                }
            }
        });
        $("#id_tags").select2({
            placeholder: "{% translate "Select a tag" %}",
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
            ajax: {
                url: "{% url "tag_autocomplete" %}?append",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_related").select2({
            placeholder: "{% translate "Select a realted entry" %}",
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
            allowClear: true,
            ajax: {
                url: "{% url "entry_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.entries }
                }
            }
        });
        $("#id_intervall").select2({
            minimumResultsForSearch: Infinity,
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
        });
    });
</script>
{% endblock %}


{% block content %}
{% form form=form enctype="multipart/form-data" submit=False %}
{% endblock%}
