{% extends "ledger/popup.html" %}
{% load i18n l10n ledger units %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $(".iframeFormModal").click(function(e) {
            parent.$("#iframeFormModalLabel").html(this.title);
            parent.$("#iframeFormModalIframe").attr("src", this.href);
            parent.$("#iframeFormModalSubmit").addClass("btn-danger");
            parent.$("#iframeFormModalSubmit").removeClass("btn-primary");
            parent.$("#iframeFormModalSubmit").html("<span class=\"fas fa-trash\"></span> {% trans "Yes, I'm sure" %}");
            parent.$(".modal-footer").show();
        });
    });
</script>
{% endblock %}


{% block content %}
<table class="table table-hover table-borderless">
    <tbody>
        <tr>
            <th scope="row">{% trans "Created at" %}</th>
            <td>{{ entry.created_at|date:"r" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Last updated at" %}</th>
            <td>{{ entry.updated_at|date:"r" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Account" %}</th>
            <td>{{ entry.account.name }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Serial number" %}</th>
            <td>{{ entry.serial_number }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Date" %}</th>
            <td>{{ entry.date|date:"D, d.m.Y"  }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Amount" %}</th>
            <td>{{ entry.amount|unitcolorfy:entry.account.unit }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Fees" %}</th>
            <td>{{ entry.fees|unitcolorfy:entry.account.unit }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Category" %}</th>
            <td>{{ entry.category.name }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Text" %}</th>
            <td>{{ entry.text|default_if_none:"" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Tags" %}</th>
            <td>
                {% for tag in entry.tags.all %}
                    {{ tag.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th scope="row">{% trans "Files" %}</th>
            <td>
                <ul class="list-unstyled">
                    {% for file in entry.files.all %}
                        <li>
                            <a href="{% url "file_detail" file.slug %}">{{ file.name }}</a>
                            <a class="iframeFormModal" href="{% url "file_delete" file.slug %}" title="{% blocktranslate with name=file.name %}Delete file {{ name }}{% endblocktranslate %}"><span class="fas fa-trash"></span></a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
