{% extends "popup.html" %}
{% load django_html_utils i18n l10n ledger units %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $(".iframeDetail").click(function(e) {
            parent.$("#iframeFormModalLabel").html(this.title);
            parent.$("#iframeFormModalIframe").attr("src", this.href);
            parent.$(".modal-footer").hide();
        });
        $(".iframeDelete").click(function(e) {
            parent.$("#iframeFormModalLabel").html(this.title);
            parent.$("#iframeFormModalIframe").attr("src", this.href);
            parent.$("#iframeFormModalSubmit").addClass("btn-danger");
            parent.$("#iframeFormModalSubmit").removeClass("btn-primary");
            parent.$("#iframeFormModalSubmit").html('{% fa "trash" %} {% translate "Yes, I'm sure" %}");
            parent.$(".modal-footer").show();
        });
    });
</script>
{% endblock %}


{% block content %}
<table class="table table-hover table-borderless">
    <tbody>
        <tr>
            <th scope="row">{% translate "Created at" %}</th>
            <td>{{ entry.created_at|date:"r" }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Last updated at" %}</th>
            <td>{{ entry.updated_at|date:"r" }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Account" %}</th>
            <td>{{ entry.account.name }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Serial number" %}</th>
            <td>{{ entry.serial_number }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Date" %}</th>
            <td>{{ entry.date|date:"D, d.m.Y"  }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Amount" %}</th>
            <td>{{ entry.amount|unitcolorfy:entry.account.unit }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Fees" %}</th>
            <td>{{ entry.fees|unitcolorfy:entry.account.unit }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Category" %}</th>
            <td>{{ entry.category.name }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Related entry" %}</th>
            <td>{% if entry.related %}<a class="iframeDetail" href="{% url "entry_detail" entry.related.pk %}" title="{{ entry.related }}" data-bs-toggle="modal" data-bs-target="parent.#iframeFormModal">{{ entry.related }}</a>{% endif %}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Text" %}</th>
            <td>{{ entry.text|default_if_none:"" }}</td>
        </tr>
        <tr>
            <th scope="row">{% translate "Tags" %}</th>
            <td>
                {% for tag in entry.tags.all %}
                    {{ tag.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th scope="row">{% translate "Files" %}</th>
            <td>
                <ul class="list-unstyled">
                    {% for file in entry.files.all %}
                        <li>
                            <a href="{% url "file_detail" file.slug %}">{{ file.name }}</a>
                            <a class="iframeDelete" href="{% url "file_delete" file.slug %}" title="{% blocktranslate with name=file.name %}Delete file {{ name }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="parent.#iframeFormModal">{% fa "trash" %}</a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
