{% load bootstrap i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="{% static "images/logo.png" %}"/>
        {% bootstrap_css %}
        {% bootstrap_js %}
        <link rel="stylesheet" media="all" href="{% static "css/fontawesome-all.min.css" %}"/>
        <link rel="stylesheet" media="all" href="{% static "css/ledger.css" %}"/>
        <title>{% block title %}ledger{% endblock %}</title>
        {% block extrahead %}{% endblock %}
        <script type="text/javascript">
            $(document).on('select2:open', () => {
                let allFound = document.querySelectorAll('.select2-container--open .select2-search__field');
                $(this).one('mouseup keyup',()=>{
                    setTimeout(()=>{
                        allFound[allFound.length - 1].focus();
                    },0);
                });
            });
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
