{% load accounts i18n %}

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans "Tag" %}</th>
                <th>{% trans "Accounts" %}</th>
                <th>{% trans "Number of entries" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
                <tr>
                    <th><a href="{% url "categories:tag" tag.slug %}">{{ tag.name }}</a></th>
                    <td>
                        {% for account in tag|accounts:ledger %}
                            <a href="{% url "accounts:account" account.slug %}">{{ account }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-right">{{ tag.entries.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
