header, footer, nav, article, aside {display: block;}
body {font-family: monospace;
    font-size: 10pt;
    font-weight: normal;
    padding-top: 70px;}

.table tfoot {border-top: double black;}



/*### entries ###*/

.red {color: red;}
.green {color: green;}
