{% extends "ledger/base.html" %}
{% load accounts static %}

{% block extrahead %}
<script src="{% static 'js/highcharts.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">dashboard</a></li>
<li class="active">{{ account.name|lower }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ account.name|lower }}
                <small class="pull-right">
                    <a href="{% url 'account_edit' account.slug  %}" class="btn btn-primary" role="button"><i class="ui-icon ui-icon-white ui-icon-pencil" style="float:left;margin-top:2px;"></i>edit</a>
                    <a href="{% url 'account_delete' account.slug  %}" class="btn btn-danger" role="button"><i class="ui-icon ui-icon-white ui-icon-trash" style="float:left;margin-top:2px;"></i>delete</a>
                </small>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2><a href="{% url 'account_entries' account.slug %}">entries</a>
            <small>
                <b>balance:</b> {{ account|balance }} (<b>outstanding:</b> {{ account|outstanding }})
                <div class="pull-right">
                    <a class="btn btn-primary" href="{% url 'entry_add' account.slug %}" role="button"><i class="ui-icon ui-icon-white ui-icon-circle-plus" style="float:left;margin-top:2px;"></i>add entry</a>
                    <a class="btn btn-primary" href="{% url 'standing_entry_add' account.slug %}"><i class="ui-icon ui-icon-white ui-icon-circle-plus" style="float:left;margin-top:2px;"></i>add standing entry</a>
                </div>
            </small>
        </h2>
        {% include "ledger/accounts/account/partials/_table.html" with entries=entries options=False %}
    </div>
</div>


{% if account_categories_chart_data %}
    <div class="shape fullshape">
        <div class="title"><a href="{% url 'account_statistics' account.slug %}?chart=categories">{{ account|lower }} statistics | categories</a></div>
        <div class="content">
        </div>
    </div>
{% endif %}
{% if account_tags_chart_data %}
    <div class="shape fullshape">
        <div class="title"><a href="{% url 'account_statistics' account.slug %}?chart=tags">{{ account|lower }} statistics | tags</a></div>
        <div class="content">
        </div>
    </div>
{% endif %}
{% if category_data %}
    <div class="shape fullshape">
        <div class="title"><a href="{% url 'categories' %}">categories</a></div>
        <div class="content">
        </div>
    </div>
{% endif %}
{% if tag_data %}
    <div class="shape fullshape">
        <div class="title"><a href="{% url 'tags' %}">tags</a></div>
        <div class="content">
        </div>
    </div>
{% endif %}
{% endblock %}