{% extends "ledger/base.html" %}
{% load accounts static %}

{% block extrahead %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/charts/accounts/accounts/statistics.js' %}"></script>
<script src="{% static 'js/charts/accounts/accounts/categories.js' %}"></script>
<script src="{% static 'js/charts/accounts/accounts/tags.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ account.name|lower }}
                <small class="pull-right">
                    <a href="{% url 'account_edit' account.slug  %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-pencil"></span> edit</a>
                    <a href="{% url 'account_delete' account.slug  %}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-trash"></span> delete</a>
                </small>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header"><a href="{% url 'account_entries' account.slug %}">entries</a>
            <small>
                <b>balance:</b> {{ account|balance }} (<b>outstanding:</b> {{ account|outstanding }})
                <div class="pull-right">
                    <a class="btn btn-primary" href="{% url 'entry_add' account.slug %}" role="button"><span class="glyphicon glyphicon-plus"></span> add entry</a>
                    <a class="btn btn-primary" href="{% url 'standing_entry_add' account.slug %}"><span class="glyphicon glyphicon-plus"></span> add standing entry</a>
                </div>
            </small>
        </h2>
        {% include "ledger/accounts/account/partials/_table.html" with entries=entries options=False %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header"><a href="{% url 'account_statistics' account.slug %}?chart=categories">statistics</a>
            <small>categories</small>
        </h2>
        <div id="ascchart" style="min-width: 310px; height: 400px;"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                var ascchart_url = "{% url 'account_charts_statistics_categories' account.slug %}";
                statistics(ascchart_url, 'ascchart');
            });
        </script>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header"><a href="{% url 'account_statistics' account.slug %}?chart=tags">statistics</a>
            <small>tags</small>
        </h2>
        <div id="astchart" style="min-width: 310px; height: 400px;"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                var astchart_url = "{% url 'account_charts_statistics_tags' account.slug %}";
                statistics(astchart_url, 'astchart');
            });
        </script>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header"><a href="{% url 'categories' %}">categories</a></h2>
        <div id="cchart" style="min-width: 310px; height: 400px;"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                var cchart_url = "{% url 'account_chart_categories' account.slug %}";
                categories(cchart_url, 'cchart');
            });
        </script>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header"><a href="{% url 'tags' %}">tags</a></h2>
        <div id="tchart" style="min-width: 310px; height: 400px;"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                var tchart_url = "{% url 'account_chart_tags' account.slug %}";
                tags(tchart_url, 'tchart');
            });
        </script>
    </div>
</div>
{% endblock %}
