{% extends "ledger/base.html" %}
{% load accounts_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">dashboard</a><span class="divider"></span></li>
<li><a href="{% url 'account' account.slug %}">{{ account.name|lower }}</a><span class="divider"></span></li>
<li class="active">entries</li>
{% endblock %}

{% block content %}
<div class="shape fullshape">
	<div class="title">entries</div>
	<div class="content">
		<div class="entries">
			<div class="row">
				<div class="col-md-2"><b>balance:</b> {{ account.balance|colorfy:account.unit }}</div>
				<div class="col-md-1 col-md-offset-9"><a class="btn btn-primary" href="{% url 'entry_add' account.slug %}">add entry</a></div>
			</div>
			<div class="row" style="margin-top: 10px;">
				<div class="col-md-12">
					{% include "ledger/accounts/account/partials/_table.html" with entries=entries options=True %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}