{% extends "ledger/base.html" %}
{% load accounts ledger %}

{% block content %}
<script>
    $(function() {
        $('#id_start_date').datepicker({
            dateFormat:'yy-mm-dd',
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $('#id_end_date').datepicker({
            dateFormat:'yy-mm-dd',
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
    });
</script>
{{ form.media }}

<h1 class="page-header">
    <a href="{% url 'account' account.slug %}">{{ account.name|lower }}</a>
    <small>entries</small>
</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <h5>
                    <b>balance:</b> {% if f %}{{ entries|sumentries:account.unit }}{% else %}{{ account|balance }} (<b>outstanding:</b> {{ account|outstanding }}){% endif %}
                </h5>
            </div>
            <div class="col-md-6">
                <form method="post" class="form-inline">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group{% if form.errors %} {{ field.errors|yesno:'has-error,has-success' }}{% endif %}">
                            {{ field }}
                        </div>
                    {% endfor %}

                    <button class="btn btn-success" type="submit">filter</button>
                    <a href="{% url 'account_entries' account.slug %}" class="btn btn-info">clear</a>
                </form>
            </div>
           <div class="col-md-3 text-right">
                <a class="btn btn-primary" href="{% url 'entry_add' account.slug %}"><span class="glyphicon glyphicon-plus"></span> add entry</a>
                <a class="btn btn-primary" href="{% url 'standing_entry_add' account.slug %}"><span class="glyphicon glyphicon-plus"></span> add standing entry</a>
            </div>
        </div>
    </div>
    {% include "ledger/accounts/account/partials/_table.html" with entries=entries options=True %}
    <div class="panel-body">
        {% pagination paginator entries 'entries' %}
    </div>
</div>
{% endblock %}
