{% load accounts i18n %}

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans 'category' %}</th>
                <th>{% trans 'accounts' %}</th>
                <th>{% trans 'number of entries' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <th><a href="{% url 'categories:category' category.slug %}">{{ category.name|lower }}</a></th>
                    <td>
                        {% for account in category|accounts:ledger %}
                            <a href="{% url 'accounts:account' account.slug %}">{{ account|lower }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-right">{{ category.entries.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
