{% extends "ledger/base.html" %}
{% load accounts %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">ledger</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% if accounts %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">balance</h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th>unit</th>
                                <th>sum balance</th>
                                <th>sum outstanding</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for unit in units %}
                                <tr>
                                    <th>{{ unit|lower }}</th>
                                    <td class="text-right">{{ unit|sumbalance:request.user }}</td>
                                    <td class="text-right">{{ unit|sumoutstanding:request.user }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><a href="{% url 'accounts' %}">accounts</a></h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th>account</th>
                                <th>balance</th>
                                <th>outstanding</th>
                                <th>number of entries</th>
                                <th>last entry</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for account in accounts %}
                                <tr>
                                    <th><a href="{% url 'account' account.slug %}">{{ account.name|lower }}</a></th>
                                    <td class="text-right">{{ account|balance }}</td>
                                    <td class="text-right">{{ account|outstanding }}</td>
                                    <td>{{ account.entries.count }}</td>
                                    <td>{{ account.entries.last.day|date:'l, d. F Y' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><a href="{% url 'entries' %}">entries</a></h1>
                </div>
                {% include "ledger/accounts/entry/partials/_table.html" with entries=entries options=False %}
            </div>
        {% else %}
            <p>No accounts are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
