# Python
__pycache__
.venv
.mypy_cache
*.pyc

# Django
ledger/local.py
ledger/media
ledger/static

# Other
build
db.sqlite3
db.sqlite3-journal

# SublimeText
*.sublime-project
*.sublime-workspace

# Vim
Session.vim
