{% extends 'base.html' %}
{% load i18n %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $('#id_day').datepicker({
            dateFormat:'yy-mm-dd',
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $('#date_today').click(function() {
            $('#id_day').val('{{ today|date:'Y-m-d' }}');
            $('#id_amount').focus();
            return false;
        });
        $('#id_account').select2({
            placeholder: 'select a account',
            allowClear: true,
            ajax: {
                url: "{% url 'account_autocomplete' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.accounts }
                }
            }
        });
        $('#id_category').select2({
            placeholder: 'select a category',
            allowClear: true,
            ajax: {
                url: "{% url 'category_autocomplete' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.categories }
                }
            }
        });
        $('#id_tags').select2({
            placeholder: 'select a tag',
            allowClear: true,
            ajax: {
                url: "{% url 'tag_autocomplete' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $('.ajax-popup-link').magnificPopup({
            type: 'iframe'
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li><a href="{% url 'entries' %}">{% trans 'entry' %}</a></li>
<li class="active">{% trans 'add entry' %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title" href="{% url 'entries' %}">{% trans 'add entry' %}</h1>
            </div>
            <div class="panel-body">
                {% url 'entry_add' as form_url %}
                {% include 'partials/_form.html' with form_url=form_url %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
