{% extends "ledger/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>signed out</h1>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 2em;">
    <div class="col-md-6 col-md-offset-3">
        <h3 class="italic-title">thanks for spending some quality time with ledger today.</h3>
        <br/><br/>
        <div class="f14" style="margin-bottom: 5px;">&nbsp; <a href="{% url 'signin' %}">sign in again</a></div>
    </div>
</div>
{% endblock %}