{% extends "ledger/base.html" %}
{% load bootstrap3 %}

{% block option_menu %}
<div style="float: right;">
	{% if user.is_authenticated %}
		{% if user.is_staff %}
			<a href="{% url 'admin:index' %}">admin</a>
			|
		{% endif %}
		change password
		|
		<a clas="btn btn-xs" href="{% url 'logout' %}">logout</a>
	{% endif %}
</div>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">dashboard</a></li>
<li class="active">change password</li>
{% endblock %}

{% block content %}
<div class="row" style="margin-top: 2em;">
	<div class="col-md-4 col-md-offset-4">
		<form action="" method="post" class="form-horizontal">
			{% csrf_token %}
			<div>
				<div class="alert alert-info">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</div>

				{% bootstrap_form form %}

				{% buttons %}
					<input type="submit" value="Change my password" class="btn btn-info"/>
				{% endbuttons %}

				<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
			</div>
		</form>
	</div>
</div>
{% endblock %}