{% extends 'base.html' %}
{% load i18n %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li class="active">{% trans 'reset password' %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans 'reset your password' %}</h1>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">{% trans 'please enter your email address, so we can send you a link to type in your new password.' %}</div>
                {% trans 'request new password' as smt_btn %}
                {% include 'partials/_form.html' with smt_btn=smt_btn %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
