{% extends "ledger/base.html" %}

{% block option_menu %}
<div style="float: right;">
	{% if user.is_authenticated %}
		{% if user.is_staff %}
			<a href="{% url 'admin:index' %}">admin</a>
			|
		{% endif %}
		change password
		|
		<a clas="btn btn-xs" href="{% url 'logout' %}">logout</a>
	{% endif %}
</div>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">dashboard</a></li>
<li class="active">change password</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="alert alert-success">your password was changed successfully.</div>
	</div>
</div>
{% endblock %}