{% load i18n ledger %}

<ul class="list-inline">
    <li class="list-inline-item">
        <b>{% trans "Balance" %}</b>
        {% if values|length == 1 %}
            {{ values|get_item:0|get_item:"balance" }}
        {% else %}
            <ul class="list-unstyled">
                {% for value in values %}
                    {% if "accounts" in value  %}
                        <li data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="{% for account in value|get_item:"accounts" %}{{ account|get_item:"name" }}: {{ account|get_item:"balance" }}{% if not forloop.last %}<br>{% endif %}{% endfor %}">{{ value|get_item:"balance" }}</li>
                    {% else %}
                        <li>{{ value|get_item:"balance" }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    <li class="list-inline-item ml-5">
        <b>{% trans "Outstanding" %}</b>
        {% if values|length == 1 %}
            {{ values|get_item:0|get_item:"outstanding" }}
        {% else %}
            <ul class="list-unstyled">
                {% for value in values %}
                    {% if "accounts" in value  %}
                        <li data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="{% for account in value|get_item:"accounts" %}{{ account|get_item:"name" }}: {{ account|get_item:"outstanding" }}{% if not forloop.last %}<br>{% endif %}{% endfor %}">{{ value|get_item:"outstanding" }}</li>
                    {% else %}
                        <li>{{ value|get_item:"outstanding" }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
</ul>
