{% load i18n ledger %}

<ul class="list-inline">
    <li class="list-inline-item align-top"><b>{% trans "Balance" %}:</b></li>
    <li class="list-inline-item">
        {% if values|length == 1 %}
            {{ values|get_item:0|get_item:"balance" }}
        {% else %}
            <ul class="list-unstyled">
                {% for value in values %}
                    {% if "accounts" in value  %}
                        <li data-toggle="tooltip" data-placement="right" data-html="true" title="<table><tbody>{% for account in value|get_item:"accounts" %}<tr><th class='text-left'>{{ account|get_item:"name" }}</th><td class='text-right'>{{ account|get_item:"balance" }}</td></tr>{% endfor %}</tbody></table">{{ value|get_item:"balance" }}</li>
                    {% else %}
                        <li>{{ value|get_item:"balance" }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    <li class="list-inline-item align-top"><b>{% trans "Outstanding" %}:</b></li>
    <li class="list-inline-item">
        {% if values|length == 1 %}
            {{ values|get_item:0|get_item:"outstanding" }}
        {% else %}
            <ul class="list-unstyled">
                {% for value in values %}
                    {% if "accounts" in value  %}
                        <li data-toggle="tooltip" data-placement="right" data-html="true" title="<table><tbody>{% for account in value|get_item:"accounts" %}<tr><th class='text-left'>{{ account|get_item:"name" }}</th><td class='text-right'>{{ account|get_item:"outstanding" }}</td></tr>{% endfor %}</tbody></table">{{ value|get_item:"outstanding" }}</li>
                    {% else %}
                        <li>{{ value|get_item:"outstanding" }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
</ul>
