{% load accounts i18n ledger %}

<div class="table-responsive">
    <table class="table table-hover table-bordered table-sm table-striped">
        <thead>
            <tr>
                {% if not account %}<th>{% trans "Account" %}</th>{% endif %}
                {% if account %}<th>{% trans "Ser. No." %}</th>{% endif %}
                <th colspan="2">{% trans "Day" %}</th>
                <th>{% trans "Amount" %}</th>
                <th>{% trans "Category" %}</th>
                <th>{% trans "Additional" %}</th>
                <th>{% trans "Tags" %}</th>
                <th>{% trans "Files" %}</th>
                {% if options %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% timestamp "%Y-%m-%d" as today %}
            {% for entry in entries %}
                <tr {% if entry.day|date:"Y-m-d" == today %}class="table-info"{% endif %}>
                    {% if not account %}
                        <th>
                            <a href="{% url "accounts:entry_list" %}?accounts={{ entry.account.pk }}">{{ entry.account.name }}</a>
                            <a href="{% url "accounts:entry_detail" entry.pk %}">#{{ entry.serial_number }}</a>
                        </th>
                    {% else %}
                        <th class="text-right"><a href="{% url "accounts:account_entry_detail" account.slug entry.pk %}">{{ entry.serial_number }}</a></th>
                    {% endif %}
                    <td>{{ entry.day|date:"d.m.Y" }}</td>
                    <td>{{ entry.day|date:"D" }}</td>
                    <td class="text-right">{{ entry.amount|colorfy:entry.account.unit }}</td>
                    <td><a href="{% if account%}{% url "accounts:account_entry_list" account.slug %}{% else %}{% url "accounts:entry_list" %}{% endif %}?categories={{ entry.category.pk }}">{{ entry.category }}</a></td>
                    <td>{{ entry.additional|default_if_none:'' }}</td>
                    <td>
                        {% for tag in entry.tags.all %}
                            <a href="{% if account%}{% url "accounts:account_entry_list" account.slug %}{% else %}{% url "accounts:entry_list" %}{% endif %}?tags={{ tag.pk }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ entry.files.count }}</td>
                    {% if options %}
                        <td>
                            <a href="{% if account %}{% url "accounts:account_entry_edit" account.slug entry.pk %}{% else %}{% url "accounts:entry_edit" entry.pk %}{% endif %}" title="{% trans "Edit entry" %}"><i class="fas fa-edit"></i></a>
                            <a class="mpopup" href="{% url "files:create_another" entry|content_type_pk entry.pk %}" title="{% trans "Upload file" %}"><i class="fas fa-upload"></i></a>
                            <a href="{% if account %}{% url "accounts:account_entry_duplicate" account.slug entry.pk %}{% else %}{% url "accounts:entry_duplicate" entry.pk %}{% endif %}" title="{% trans "Duplicate entry" %}"><i class="fas fa-clone"></i></a>
                            <a href="{% if account %}{% url "accounts:account_entry_delete" account.slug entry.pk %}{% else %}{% url "accounts:entry_delete" entry.pk %}{% endif %}" title="{% trans "Delete entry" %}"><i class="fas fa-trash"></i></a>
                            <a href="{% if account %}{% url "accounts:account_entry_swap" account.slug entry.pk "down" %}{% else %}{% url "accounts:entry_swap" entry.pk "down" %}{% endif %}" title="{% trans "Move down" %}"><i class="fas fa-arrow-down"></i></a>
                            <a href="{% if account %}{% url "accounts:account_entry_swap" account.slug entry.pk "up" %}{% else %}{% url "accounts:entry_swap" entry.pk "up" %}{% endif %}" title="{% trans "Move up" %}"><i class="fas fa-arrow-up"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
