{% load accounts i18n ledger %}

<div class="table-responsive">
    <table class="table table-hover table-bordered table-sm">
        <thead class="thead-light">
            <tr>
                {% if not account %}<th>{% trans "Account" %}</th>{% endif %}
                {% if account %}<th>{% trans "Ser. No." %}</th>{% endif %}
                <th colspan="2">{% trans "Day" %}</th>
                <th>{% trans "Amount" %}</th>
                <th>{% trans "Category" %}</th>
                <th>{% trans "Additional" %}</th>
                <th>{% trans "Tags" %}</th>
                <th>{% trans "Files" %}</th>
                {% if options %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% timestamp "%Y-%m-%d" as today %}
            {% for entry in entries %}
                <tr {% if entry.day|date:"Y-m-d" == today %}class="table-info"{% endif %}>
                    {% if not account %}
                        <th>
                            <a href="{% url "accounts:account_detail" entry.account.slug %}">{{ entry.account.name }}</a>
                            <a href="{% url "accounts:entry_detail" entry.pk %}">#{{ entry.serial_number }}</a>
                        </th>
                    {% else %}
                        <th class="text-right"><a href="{% url "accounts:account_entry_detail" account.slug entry.pk %}">{{ entry.serial_number }}</a></th>
                    {% endif %}
                    <td>{{ entry.day|date:"d.m.Y" }}</td>
                    <td>{{ entry.day|date:"D" }}</td>
                    <td class="text-right">{{ entry.amount|colorfy:entry.account.unit }}</td>
                    <td><a href="{% url "categories:category" entry.category.slug %}">{{ entry.category }}</a></td>
                    <td>{{ entry.additional|default_if_none:'' }}</td>
                    <td>
                        {% for tag in entry.tags.all %}
                            <a href="{% url "categories:tag" tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ entry.files.count }}</td>
                    {% if options %}
                        <td>
                            <a href="{% if account %}{% url "accounts:account_entry_edit" account.slug entry.pk %}{% else %}{% url "accounts:entry_edit" entry.pk %}{% endif %}" title="{% trans "Edit entry" %}"><i class="fas fa-edit"></i></a>
                            <a class="ajax-popup-link" href="{% url "files:add_another" entry|content_type_pk entry.pk %}?a={% if account %}t{% else %}f{% endif %}" title="{% trans "Upload file" %}"><i class="fas fa-upload"></i></a>
                            <a href="{% if account %}{% url "accounts:account_entry_duplicate" account.slug entry.pk %}{% else %}{% url "accounts:entry_duplicate" entry.pk %}{% endif %}" title="{% trans "Duplicate entry" %}"><i class="fas fa-clone"></i></a>
                            <a href="{% if account %}{% url "accounts:account_entry_delete" account.slug entry.pk %}{% else %}{% url "accounts:entry_delete" entry.pk %}{% endif %}" title="{% trans "Delete entry" %}"><i class="fas fa-trash"></i></a>
                            {% if account %}
                                {% with entries|previous:forloop.counter0 as previous %}
                                {% with entries|next:forloop.counter0 as next %}
                                    {% if next %}
                                        <a href="{% url "accounts:account_entry_swap" account.slug entry.pk next.pk %}" title="{% trans "Move down" %}"><i class="fas fa-arrow-down"></i></a>
                                    {% endif %}
                                    {% if previous %}
                                        <a href="{% url "accounts:account_entry_swap" account.slug previous.pk entry.pk %}" title="{% trans "Move up" %}"><i class="fas fa-arrow-up"></i></a>
                                    {% endif %}
                                {% endwith %}
                                {% endwith %}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
