{% extends "ledger/popup.html" %}
{% load bootstrap i18n static %}


{% block extrahead %}
<script type="text/javascript" src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        {% if form.is_valid %}
            {% if do_reload %}parent.location.reload();{% endif %}
            parent.$.magnificPopup.close();
        {% endif %}
    });
</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h4 class="text-muted">{% if file %}{% trans "Edit" %}{% else %}{% trans "Add file" %}{% endif %}</h4>
    </div>
</div>
<div class="row mt-md-5">
    <div class="col-md-10 offset-md-1">
        {% if file %}
            {% url "files:edit_another" as form_url %}
        {% else %}
            {% url "files:add_another" as form_url %}
        {% endif %}
        {% trans "Save" as save_trans %}
        {% bootstrap_form form=form url=form_url|add:'?a='|add:a enctype="multipart/form-data" btn_title=save_trans %}
    </div>
</div>
{% endblock%}
