{% extends "ledger/base.html" %}
{% load i18n %}


{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li>{% trans "Files" %}</li>
{% if file %}
    <li><a href="{% url "files:file" file.slug %}">{{ file.name }}</a></li>
    <li class="active">{% trans "Edit" %}</li>
{% else %}
    <li class="active">{% trans "Add file" %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {% if file %}
                        {% trans "Edit file" %}
                    {% else %}
                        {% trans "Add file" %}
                    {% endif %}
                </h1>
            </div>
            <div class="panel-body">
                {% if file %}
                    {% url "files:file_edit" file.slug as form_url %}
                {% else %}
                    {% url "files:file_add" content_type object_id as form_url %}
                {% endif %}
                {% include "ledger/partials/_form.html" with form_url=form_url enctype="multipart/form-data" %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
