{% load django_html_utils i18n ledger static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="light">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="{% static "images/logo.png" %}"/>
        {% django_html_utils_css %}
        {% django_html_utils_js %}
        <link rel="stylesheet" media="all" href="{% static "css/ledger.css" %}"/>
        <script type="text/javascript">
            $(function() {
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                });

                $(document).on('select2:open', () => {
                    let allFound = document.querySelectorAll('.select2-container--open .select2-search__field');
                    $(this).one('mouseup keyup',()=>{
                        setTimeout(()=>{
                            allFound[allFound.length - 1].focus();
                        },0);
                    });
                });

                $("#iframeFormModal").on("show.bs.modal", function(e) {
                    if ( e.relatedTarget.href.includes("/create/") || e.relatedTarget.href.includes("/edit/") || e.relatedTarget.href.includes("/duplicate/") ) {
                        $("#iframeFormModalSubmit").addClass("btn-primary");
                        $("#iframeFormModalSubmit").removeClass("btn-danger");
                        if ( e.relatedTarget.href.includes("/file/") ) {
                            $("#iframeFormModalSubmit").html('{% fa "upload" %} {% translate "Save" %}');
                        } else {
                            $("#iframeFormModalSubmit").html('{% fa "save" %} {% translate "Save" %}');
                        }
                        $(".modal-footer").show();
                    }
                    else if ( e.relatedTarget.href.includes("/delete/") ) {
                        $("#iframeFormModalSubmit").addClass("btn-danger");
                        $("#iframeFormModalSubmit").removeClass("btn-primary");
                        $("#iframeFormModalSubmit").html('{% fa "trash" %} {% translate "Yes, I'm sure" %}');
                        $(".modal-footer").show();
                    }
                    else {
                        $(".modal-footer").hide();
                    }
                });
            });
        </script>
        <title>{% block title %}{% translate "Ledger" %}{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg bg-white">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url "entry_list" %}">
                        <img alt="Brand" src="{% static "images/logo.png" %}" style="margin-top: -5px; height: 30px; display: inline-block;"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarContent" role="navbar">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                {% url "entry_list" as entry_list_url %}
                                <a class="nav-link{% if request.path == entry_list_url %} active{% endif %}" {% if request.path == entry_list_url %}aria-current="page"{% endif %} href="{{ entry_list_url }}" title="{% translate "Ledger" %}">{% translate "Ledger" %}</a>
                            </li>
                            <li class="nav-item">
                                {% url "account_list" as account_list_url %}
                                <a class="nav-link{% if request.path|startswith:account_list_url %} active{% endif %}" {% if request.path|startswith:account_list_url %}aria-current="page"{% endif %} href="{{ account_list_url }}" title="{% translate "Accounts" %}">{% translate "Accounts" %}</a>
                            </li>
                            <li class="nav-item">
                                {% url "budget_detail" as budget_detail_url %}
                                <a class="nav-link{% if request.path|startswith:budget_detail_url %} active{% endif %}" {% if request.path|startswith:budget_detail_url %}aria-current="page"{% endif %} href="{{ budget_detail_url }}" title="{% translate "Budget" %}">{% translate "Budget" %}</a>
                            </li>
                            <li class="nav-item">
                                {% url "portfolio:position_list" as position_list_url %}
                                <a class="nav-link{% if request.path|startswith:position_list_url %} active{% endif %}" {% if request.path|startswith:position_list_url %}aria-current="page"{% endif %} href="{{ position_list_url }}" title="{% translate "Portfolio" %}">{% translate "Portfolio" %}</a>
                            </li>
                            <li class="nav-item">
                                {% url "statistics_detail" as statistics_detail_url %}
                                <a class="nav-link{% if request.path|startswith:statistics_detail_url %} active{% endif %}" {% if request.path|startswith:statistics_detail_url %}aria-current="page"{% endif %} href="{{ statistics_detail_url }}" title="{% translate "Statistics" %}">{% translate "Statistics" %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% block stiky_content %}{% endblock %}
        </div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-10 offset-1">
                    <div id="messages">{% messages %}</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% iframe_form_modal iframe_min_height="100px" %}
    </body>
</html>
