{% load accounts ledger i18n %}


<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
            <tr>
                <th>{% trans 'ser. no.' %}</th>
                <th colspan="2">{% trans 'day' %}</th>
                <th>{% trans 'amount' %}</th>
                <th><a href="{% url 'categories' %}">{% trans 'category' %}</a></th>
                <th>{% trans 'additional' %}</th>
                <th><a href="{% url 'tags' %}">{% trans 'tags' %}</a></th>
                {% if options %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <th class="text-right"><a href="{% url 'account_entry' account.slug entry.id %}">{{ entry.serial_number }}</a></th>
                    <td>{{ entry.day|date:'d.m.Y' }}</td>
                    <td>{{ entry.day|date:'D'|lower }}</td>
                    <td class="text-right">{{ entry.amount|colorfy:account.unit }}</td>
                    <td><a href="{% url 'category' entry.category.slug %}">{{ entry.category|lower }}</a></td>
                    <td>{{ entry.additional|lower }}</td>
                    <td>
                        {% for tag in entry.tags.all %}
                            <a href="{% url 'tag' tag.slug %}">{{ tag.name|lower }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    {% if options %}
                        <td>
                            <a href="{% url 'account_entry_edit' account.slug entry.id %}" title="edit entry"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{% url 'account_entry_duplicate' account.slug entry.id %}" title="duplicate entry"><span class="glyphicon glyphicon-duplicate"></span></a>
                            <a href="{% url 'account_entry_delete' account.slug entry.id %}" title="delete entry"><span class="glyphicon glyphicon-trash"></span></a>
                            {% with entries|previous:forloop.counter0 as previous %}
                            {% with entries|next:forloop.counter0 as next %}
                                {% if next %}
                                    <a href="{% url 'account_entry_swap' account.slug entry.id next.id %}" title="move down"><span class="glyphicon glyphicon-arrow-down"></span></a>
                                {% endif %}
                                {% if previous %}
                                    <a href="{% url 'account_entry_swap' account.slug previous.id entry.id %}" title="move up"><span class="glyphicon glyphicon-arrow-up"></span></a>
                                {% endif %}
                            {% endwith %}
                            {% endwith %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
