{% extends 'base.html' %}
{% load accounts i18n ledger static %}


{% block extrahead %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/charts/accounts/categories/statistics.js' %}"></script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li><a href="{% url 'categories' %}">{% trans 'categories' %}</a></li>
<li class="active">{{ category.name|lower }}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12 text-right">
        <h1>
            <a href="{% url 'category_edit' category.slug  %}" class="btn btn-primary" role="button">{% trans 'edit category' %} <span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{% url 'category_delete' category.slug  %}" class="btn btn-danger" role="button">{% trans 'delete category' %} <span class="glyphicon glyphicon-trash"></span></a>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{ category.name|lower }}</h1>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>{% trans 'created at' %}</dt>
                    <dd>{{ category.created_at|date:'r'|lower }}</dd>
                    <dt>{% trans 'last updated at' %}</dt>
                    <dd>{{ category.updated_at|date:'r'|lower }}</dd>
                    <dt>{% trans 'total' %}</dt>
                    <dd>{% balance entry_list %}</dd>
                </dl>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <a href="{% url 'category_statistics' category.slug %}">{% trans 'statistics' %}</a>
                    {% if year %}<small><a href="{% url 'category' category.slug %}">{{ year }}</a></small>{% endif %}
                </h1>
            </div>
            <div class="panel-body">
                {% if years %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            select year <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for year in years %}
                                <li><a href="?year={{ year }}">{{ year }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="panel-body" id="mchart" style="min-width: 310px; height: 500px;"></div>
            <script type="text/javascript">
                $(document).ready(function() {
                    var url = "{% url 'category_chart_statistics' category.slug %}{% if year %}?year={{ year }}{% endif %}";
                    statistics(url, 'mchart');
                });
            </script>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><a href="{% url 'category_entries' category.slug %}">{% trans 'entries' %}</a></h1>
            </div>
            {% include 'accounts/entry/partials/_table.html' with entries=entries options=False %}
        </div>
    </div>
</div>
{% endblock %}
