{% extends "ledger/base.html" %}
{% load bootstrap i18n ledger static %}


{% block extrahead %}
<link rel="stylesheet" media="all" href="{% static "css/magnific-popup.css" %}"/>
<script type="text/javascript" src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $("#id_start_date").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $("#id_end_date").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $("#id_accounts").select2({
            placeholder: "{% trans "Accounts" %}",
            ajax: {
                url: "{% url "accounts:account_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.accounts }
                }
            }
        });
        $("#id_tags").select2({
            placeholder: "{% trans "Tags" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_units").select2({
            placeholder: "{% trans "Units" %}",
            ajax: {
                url: "{% url "units:unit_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.units }
                }
            }
        });
        $(".ajax-popup-link").magnificPopup({
            type: "iframe"
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "categories:categories" %}">{% trans "Categories" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "categories:category" category.slug %}">{{ category.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Entries" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-3">
        <ul class="list-inline">
            <li class="list-inline-item align-top"><b>{% trans "Total" %}:</b></li>
            <li class="list-inline-item">{% balance entry_list %}</li>
        </ul>
    </div>
    <div class="col-md-9 text-center">
        {% trans "Filter" as filter_trans %}
        {% url "categories:category_entries" category.slug as form_url %}
        {% bootstrap_form form=form url=form_url type="inline" labels=False btn_title=filter_trans %}
    </div>
</div>
{% include "accounts/entry/partials/_table.html" with entries=entries options=True %}
{% trans "Entries" as pagination_title %}
{% pagination paginator entries pagination_title %}
{% endblock %}
