{% extends "ledger/base.html" %}
{% load bootstrap i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "categories:categories" %}">{% trans "Categories" %}</a></li>
{% if category %}
    <li class="breadcrumb-item"><a href="{% url "categories:category" category.slug %}">{{ category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Edit" %}</li>
{% else %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Add category" %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% if category %}
            {% url "categories:category_edit" category.slug as form_url %}
        {% else %}
            {% url "categories:category_add" as form_url %}
        {% endif %}
        {% trans "Save" as save_trans %}
        {% bootstrap_form form=form url=form_url btn_title=save_trans %}
    </div>
</div>
{% endblock%}
