{% extends "ledger/base.html" %}
{% load bootstrap i18n %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $("#id_accounts").select2({
            placeholder: "{% trans "Accounts" %}",
            ajax: {
                url: "{% url "accounts:account_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.accounts }
                }
            }
        });
        $("#id_categories").select2({
            placeholder: "{% trans "Categories" %}",
            ajax: {
                url: "{% url "categories:category_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.categories }
                }
            }
        });
        $("#id_tags").select2({
            placeholder: "{% trans "Tags" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_units").select2({
            placeholder: "{% trans "Units" %}",
            ajax: {
                url: "{% url "units:unit_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.units }
                }
            }
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Categories" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        {% trans "Filter" as filter_trans %}
        {% url "categories:categories" as form_url %}
        {% bootstrap_form form=form url=form_url type="inline" labels=False btn_title=filter_trans %}
    </div>
</div>
<div class="row mt-md-2">
    <div class="col-md-12">
        {% include "categories/category/partials/_table.html" with categories=categories %}
    </div>
</div>
{% endblock %}
