{% extends "ledger/base.html" %}
{% load i18n static %}


{% block extrahead %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/categories/tags.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var url = "{% url "categories:category_chart_statistics" category.slug %}{% if year %}?year={{ year }}{% endif %}";
        statistics(url, "chart");
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "categories:categories" %}">{% trans "Categories" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "categories:category" category.slug %}">{{ category.name }}</a></li>
{% if year %}
    <li class="breadcrumb-item"><a href="{% url "categories:category_statistics" category.slug %}">{% trans "Statistics" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ year }}</li>
{% else %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Statistics" %}</li>
{% endif %}
{% endblock %}



{% block content %}
{% if years %}
    <div class="row">
        <div class="col-md-2">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownYears" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Select a year" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownYears">
                    {% for year in years %}
                        <a class="dropdown-item" href="{% url "categories:category_statistics" category.slug %}?year={{ year }}">{{ year }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md-2">
{% else %}
    <div class="row">
{% endif %}
    <div class="col-md-12">
        <div id="chart" style="min-width: 310px; height: 800px;"></div>
    </div>
</div>
{% endblock %}
