{% extends "ledger/popup.html" %}
{% load bootstrap i18n static %}


{% block extrahead %}
<script type="text/javascript" src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        {% if unit %}
            parent.$("#{{ target_id }}").append($("<option></option>")
                .attr("value", "{{ unit.id }}")
                .attr("name", "{{ unit.name }}")
                .text("{{ unit.name }}"));
            parent.$("#{{ target_id }}").val("{{ unit.id }}").trigger("change");
            parent.$.magnificPopup.close();
        {% endif %}
    });
</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h4 class="text-muted">{% trans "Add unit" %}</h4>
    </div>
</div>
<div class="row mt-md-5">
    <div class="col-md-10 offset-md-1">
        {% if not unit %}
            {% trans "Save" as save_trans %}
            {% url "units:unit_add_another" as form_url %}
            {% bootstrap_form form=form url=form_url|add:"?target_id="|add:target_id btn_title=save_trans %}
        {% endif %}
    </div>
</div>
{% endblock%}
