{% extends 'popup.html' %}
{% load i18n static %}


{% block extrahead %}
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        {% if unit %}
            parent.$('#{{ target_id }}').append($('<option></option>')
                .attr('value', '{{ unit.id }}')
                .attr('name', '{{ unit.name }}')
                .text('{{ unit.name }}'));
            parent.$('#{{ target_id }}').val('{{ unit.id }}').trigger('change');
            parent.$.magnificPopup.close();
        {% endif %}
    });
</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans 'add unit' %}</h1>
            </div>
            <div class="panel-body">
                {% if not unit %}
                    {% url 'unit_add_another' as form_url %}
                    {% include 'partials/_form.html' with form_url=form_url|add:'?target_id='|add:target_id %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
