{% extends 'ledger/base.html' %}
{% load i18n %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li><a href="{% url 'units:units' %}">{% trans 'units' %}</a></li>
<li class="active">{{ unit.name|lower }}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{ unit.name|lower }}</h1>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>{% trans 'created at' %}</dt>
                    <dd>{{ unit.created_at|date:'r'|lower }}</dd>
                    <dt>{% trans 'last updated at' %}</dt>
                    <dd>{{ unit.updated_at|date:'r'|lower }}</dd>
                    <dt>{% trans 'symbol' %}</dt>
                    <dd>{{ unit.symbol }}</dd>
                    <dt>{% trans 'precision' %}</dt>
                    <dd>{{ unit.precision }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock%}
