{% extends 'ledger/base.html' %}
{% load i18n %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li><a href="{% url 'units:units' %}">{% trans 'units' %}</a></li>
{% if unit %}
    <li><a href="{% url 'units:unit' unit.slug %}">{{ unit.name|lower }}</a></li>
    <li class="active">{% trans 'edit' %}</li>
{% else %}
    <li class="active">{% trans 'add unit' %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {% if unit %}
                        {% trans 'edit' %} {{ unit.name|lower }}
                    {% else %}
                        {% trans 'add unit' %}
                    {% endif %}
                </h1>
            </div>
            <div class="panel-body">
                {% if unit %}
                    {% url 'units:unit_edit' unit.slug as form_url %}
                {% else %}
                    {% url 'units:unit_add' as form_url %}
                {% endif %}
                {% include 'ledger/partials/_form.html' with form_url=form_url %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
