{% extends "ledger/base.html" %}
{% load bootstrap i18n %}


{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li><a href="{% url "units:units" %}">{% trans "Units" %}</a></li>
{% if unit %}
    <li><a href="{% url "units:unit" unit.slug %}">{{ unit.name }}</a></li>
    <li class="active">{% trans "Edit" %}</li>
{% else %}
    <li class="active">{% trans "Add unit" %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {% if unit %}
                        {% blocktrans with name=unit.name %}Edit {{ name }}{% endblocktrans %}
                    {% else %}
                        {% trans "Add unit" %}
                    {% endif %}
                </h1>
            </div>
            <div class="panel-body">
                {% if unit %}
                    {% url "units:unit_edit" unit.slug as form_url %}
                {% else %}
                    {% url "units:unit_add" as form_url %}
                {% endif %}
                {% trans "Save" as save_trans %}
                {% bootstrap_form form=form url=form_url glyphicon="glyphicon glyphicon-floppy-save" btn_title=save_trans %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
