{% extends "ledger/base.html" %}
{% load bootstrap i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "units:units" %}">{% trans "Units" %}</a></li>
{% if unit %}
    <li class="breadcrumb-item"><a href="{% url "units:unit" unit.slug %}">{{ unit.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Edit" %}</li>
{% else %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Add unit" %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% if unit %}
            {% url "units:unit_edit" unit.slug as form_url %}
        {% else %}
            {% url "units:unit_add" as form_url %}
        {% endif %}
        {% trans "Save" as save_trans %}
        {% bootstrap_form form=form url=form_url btn_title=save_trans %}
    </div>
</div>
{% endblock%}
