{% load ledger accounts %}

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>ser. no.</th>
                <th colspan="2">day</th>
                <th>amount</th>
                <th><a href="{% url 'categories' %}">category</a></th>
                <th>additional</th>
                <th><a href="{% url 'tags' %}">tags</a></th>
                {% if options %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry.serial_number }}</td>
                    <td>{{ entry.day|date:'d.m.Y' }}</td>
                    <td>{{ entry.day|date:'D'|lower }}</td>
                    <td style="text-align: right;">{{ entry.amount|colorfy:account.unit }}</td>
                    <td><a href="{% url 'category' entry.category.slug %}">{{ entry.category|lower }}</a></td>
                    <td>{{ entry.additional|lower }}</td>
                    <td>
                        {% for tag in entry.tags.all %}
                            <a href="{% url 'tag' tag.slug %}">{{ tag.name|lower }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    {% if options %}
                        <td>
                            <a href="{% url 'entry_edit' account.slug entry.id %}" title="edit entry"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{% url 'entry_duplicate' account.slug entry.id %}" title="duplicate entry"><span class="glyphicon glyphicon-duplicate"></span></a>
                            <a href="{% url 'entry_delete' account.slug entry.id %}" title="delete entry"><span class="glyphicon glyphicon-trash"></span></a>
                            {% with entries|previous:forloop.counter0 as previous %}
                            {% with entries|next:forloop.counter0 as next %}
                                {% if next %}
                                    <form action="{% url 'entry_swap' account.slug %}" method="post" style="display: inline-block;">
                                        {% csrf_token %}
                                        <input type="hidden" name="e1" value="{{ entry.id }}">
                                        <input type="hidden" name="e2" value="{{ next.id }}">
                                        <button class="btn btn-link" type="submit" title="move down" style="margin: 0; padding: 0;"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                    </form>
                                {% endif %}
                                {% if previous %}
                                    <form action="{% url 'entry_swap' account.slug %}" method="post" style="display: inline-block;">
                                        {% csrf_token %}
                                        <input type="hidden" name="e1" value="{{ previous.id }}">
                                        <input type="hidden" name="e2" value="{{ entry.id }}">
                                        <button class="btn btn-link" type="submit" title="move up" style="margin: 0; padding: 0;"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                    </form>
                                {% endif %}
                            {% endwith %}
                            {% endwith %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
