{% load accounts_tags %}

<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th></th>
			<th colspan="2">day</th>
			<th>amount</th>
			<th>category</th>
			<th>additional</th>
			<th>tags</th>
			{% if options %}
				<th></th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for entry in entries %}
			<tr>
				<td>{{ entry.serial_number }}</td>
				<td>{{ entry.day|date:'d.m.Y' }}</td>
				<td>{{ entry.day|date:'D'|lower }}</td>
				<td style="text-align: right;">{{ entry.amount|colorfy:account.unit }}</td>
				<td><a href="{% url 'category' entry.category.slug %}">{{ entry.category|lower }}</a></td>
				<td>{{ entry.additional|lower }}</td>
				<td>
					{% for tag in entry.tags.all %}
						<a href="{% url 'tag' tag.slug %}">{{ tag.name|lower }}</a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</td>
				{% if options %}
					<td>
						<a href="{% url 'entry_change' account.slug entry.id %}" title="edit entry"><i class="ui-icon ui-icon-pencil" style="display: inline-block;"></i></a>
						<a href="{% url 'entry_duplicate' account.slug entry.id %}" title="duplicate entry"><i class="ui-icon ui-icon-copy" style="display: inline-block;"></i></a>
						<a href="{% url 'entry_delete' account.slug entry.id %}" title="delete entry"><i class="ui-icon ui-icon-trash" style="display: inline-block;"></i></a>
						{% with entries|previous:forloop.counter0 as previous %}
						{% with entries|next:forloop.counter0 as next %}
							{% if previous %}
								<form action="{% url 'entry_swap' account.slug %}" method="post" style="display: inline-block;">
									{% csrf_token %}
									<input type="hidden" name="e1" value="{{ previous.id }}">
									<input type="hidden" name="e2" value="{{ entry.id }}">
									<button class="btn btn-link" type="submit" title="move up" style="margin: 0; padding: 0;"><i class="ui-icon ui-icon-triangle-1-n" style="display: inline-block;"></i></button>
								</form>
							{% endif %}
							{% if next %}
								<form action="{% url 'entry_swap' account.slug %}" method="post" style="display: inline-block;">
									{% csrf_token %}
									<input type="hidden" name="e1" value="{{ entry.id }}">
									<input type="hidden" name="e2" value="{{ next.id }}">
									<button class="btn btn-link" type="submit" title="move down" style="margin: 0; padding: 0;"><i class="ui-icon ui-icon-triangle-1-s" style="display: inline-block;"></i></button>
								</form>
							{% endif %}
						{% endwith %}
						{% endwith %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>