{% load accounts i18n ledger %}


{% block content %}
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">{% trans "Name" %}</th>
                <th scope="col">{% trans "Account" %}</th>
                <th scope="col">{% trans "Uploader" %}</th>
                <th scope="col">{% trans "Uploaded at" %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for statement in statements %}
                <tr>
                    <th scope="row"><a href="{% url "files:statement_detail" statement.slug %}">{{ statement.name }}</a></th>
                    <td><a href="?accounts={{ statement.account.pk }}">{{ statement.account.name }}</a></td>
                    <td>{{ statement.uploader }}</td>
                    <td>{{ statement.updated_at|date:"l, d. F Y" }}</td>
                    <td>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle menu-dropdown-toggle" id="options-{statement.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></a>
                            <div class="dropdown-menu" aria-labelledby="options-{statement.id}">
                                <a class="dropdown-item iframeFormModal" href="{% url "files:statement_edit" statement.slug %}?reload=True" title="{% trans "Edit statement" %}" data-toggle="modal" data-target="#iframeFormModal"><span class="fas fa-edit"></span> {% trans "Edit" %}</a>
                                <a class="dropdown-item iframeFormModal" href="{% url "files:statement_delete" statement.slug %}?reload=True" title="{% trans "Delete statement" %}" data-toggle="modal" data-target="#iframeFormModal"><span class="fas fa-trash"></span> {% trans "Delete" %}</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
