{% extends "ledger/popup.html" %}
{% load bootstrap i18n static %}


{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h4 class="text-muted">
            {% if file %}
                {% if "another" in request.path %}
                    {% blocktrans with name=file.name %}Edit {{ name }}{% endblocktrans%}
                {% else %}
                    {% trans "Edit" %}
                {% endif %}
            {% else %}
                {% if "another" in request.path %}
                    {% trans "Add file" %}
                {% else %}
                    {% trans "Add" %}
                {% endif %}
            {% endif %}
        </h4>
    </div>
</div>
<div class="row mt-md-5">
    <div class="col-md-10 offset-md-1">
        {% trans "Save" as save_trans %}
        {% bootstrap_form form=form enctype="multipart/form-data" btn_title=save_trans %}
    </div>
</div>
{% endblock%}
