{% extends "ledger/popup.html" %}
{% load bootstrap i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $("#id_account").select2({
            placeholder: "{% trans "Accounts" %}",
            language: "{{ LANGUAGE_CODE }}",
            ajax: {
                url: "{% url "accounts:account_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.accounts }
                }
            }
        });
    });
</script>
{% endblock%}

{% block content %}
{% bootstrap_form form=form enctype="multipart/form-data" submit=False %}
{% endblock%}
