{% extends "ledger/popup.html" %}
{% load static %}

{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {
        parent.$("#messages").append($("#messages").html());
        {% if target_id and value and name %}
            parent.$("#{{ target_id }}").append($("<option></option>")
                .attr("value", "{{ value }}")
                .attr("name", "{{ name }}")
                .text("{{ name }}"));
            parent.$("#{{ target_id }}").val("{{ value }}").trigger("change");
        {% endif %}
        parent.$("#iframeFormModal").modal("hide");
        {% if reload and not next %}parent.location.href = parent.location.href;
        {% elif reload and next %}parent.location.href = "{{ next }}";{% endif %}
    });
</script>
{% endblock %}
