{% load bootstrap i18n ledger static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="{% static "images/logo.png" %}"/>
        {% bootstrap_css %}
        {% bootstrap_js %}
        <link rel="stylesheet" media="all" href="{% static "css/fontawesome-all.min.css" %}"/>
        <link rel="stylesheet" media="all" href="{% static "css/ledger.css" %}"/>
        <title>{% block title %}ledger{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url "dashboard" %}">
                <img alt="Brand" src="{% static "images/logo.png" %}" style="margin-top: -5px; height: 30px; display: inline-block;"/> ledger
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent" role="navbar">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        {% url "accounts:account_list" as account_list_url %}
                        {% url "accounts:entry_list" as entry_list_url %}
                        <li class="nav-item dropdown{% if request.path|startswith:entry_list_url or request.path|startswith:account_list_url %} active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="accountsDropdown" data-toggle="dropdown" role="button" haspopup="true" aria-expanded="false">
                                {% trans "Accounts" %}
                                {% if request.path|startswith:entry_list_url or request.path|startswith:account_list_url %}<span class="sr-only">(current)</span>{% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="accountsDropdown">
                                {% for account in user.ledger.accounts.all %}
                                    {% url "accounts:account_detail" account.slug as account_url %}
                                    <a class="dropdown-item{% if request.path|startswith:account_url %} active{% endif %}" href="{{ account_url }}">
                                        {{ account.name }}
                                        {% if request.path|startswith:account_url %}<span class="sr-only">(current)</span>{% endif %}
                                    </a>
                                {% endfor %}
                                {% if user.ledger.accounts.count > 0 %}
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" href="{% url "accounts:account_create" %}">{% trans "Add account" %}</a>
                            </div>
                        </li>
                        {% url "categories:category_list" as category_list_url %}
                        <a class="nav-link{% if request.path|startswith:category_list_url %} active{% endif %}" href="{{ category_list_url }}">
                            {% trans "Categories" %}
                            {% if request.path|startswith:category_list_url %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                        {% url "categories:tag_list" as tag_list_url %}
                        <a class="nav-link{% if request.path|startswith:tag_list_url %} active{% endif %}" href="{{ tag_list_url }}">
                            {% trans "Tags" %}
                            {% if request.path|startswith:tag_list_url %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                        {% url "users:budget_detail" as budget_detail_url %}
                        <a class="nav-link{% if request.path|startswith:budget_detail_url %} active{% endif %}" href="{{ budget_detail_url }}">
                            {% trans "Budget" %}
                            {% if request.path|startswith:budget_detail_url %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                        {% url "users:statistics_detail" as statistics_detail_url %}
                        <a class="nav-link{% if request.path|startswith:statistics_detail_url %} active{% endif %}" href="{{ statistics_detail_url }}">
                            {% trans "Statistics" %}
                            {% if request.path|startswith:statistics_detail_url %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </ul>
                {% endif %}

                {% if user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        {% url "users:users" as users_url %}
                        <li class="nav-item dropdown{% if request.path|startswith:users_url %} active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="profilesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <b>{{ user.get_short_name|default:user.get_username }}</b>
                                {% if request.path|startswith:users_url %}<span class="sr-only">(current)</span>{% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="profilesDropdown">
                                {% url "users:profile" as profile_url %}
                                <a class="dropdown-item{% if request.path|startswith:profile_url %} active{% endif %}" href="{{ profile_url }}">
                                    {% trans "Profile" %}
                                    {% if request.path|startswith:profile_url %}<span class="sr-only">(current)</span>{% endif %}
                                </a>
                                {% if user.is_staff %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url "admin:index" %}">{% trans "Admin" %}</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url "users:signout" %}">{% trans "Sign out" %}</a>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-success" href="{% url "users:signup" %}" role="button">{% trans "Sign up" %}</a>
                            <a class="btn btn-outline-primary" href="{% url "users:signin" %}" role="button">{% trans "Sign in" %}</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% block breadcrumbs %}{% endblock %}
                        </ol>
                    </nav>
                    <div id="messages">{% messages %}</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
