{% load bootstrap i18n ledger static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="{% static "images/logo.png" %}"/>
        {% bootstrap_css %}
        {% bootstrap_js %}
        <link rel="stylesheet" media="all" href="{% static "css/fontawesome-all.min.css" %}"/>
        <link rel="stylesheet" media="all" href="{% static "css/ledger.css" %}"/>
        <script type="text/javascript">
            $(function() {
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                });
            });
        </script>
        <title>{% block title %}{% trans "Ledger" %}{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "dashboard" %}">
                    <img alt="Brand" src="{% static "images/logo.png" %}" style="margin-top: -5px; height: 30px; display: inline-block;"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent" role="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            {% url "accounts:entry_list" as entry_list_url %}
                            <a class="nav-link{% if request.path|startswith:entry_list_url %} active{% endif %}" href="{{ entry_list_url }}">
                                {% trans "Ledger" %}
                                {% if request.path|startswith:entry_list_url %}<span class="visually-hidden">(current)</span>{% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url "budget_detail" as budget_detail_url %}
                            <a class="nav-link{% if request.path|startswith:budget_detail_url %} active{% endif %}" href="{{ budget_detail_url }}">
                                {% trans "Budget" %}
                                {% if request.path|startswith:budget_detail_url %}<span class="visually-hidden">(current)</span>{% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url "accounts:account_list" as account_list_url %}
                            <a class="nav-link{% if request.path|startswith:account_list_url %} active{% endif %}" href="{{ account_list_url }}">
                                {% trans "Accounts" %}
                                {% if request.path|startswith:account_list_url %}<span class="visually-hidden">(current)</span>{% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url "files:statement_list" as statement_list_url %}
                            <a class="nav-link{% if request.path|startswith:statement_list_url %} active{% endif %}" href="{{ statement_list_url }}">
                                {% trans "Statements" %}
                                {% if request.path|startswith:statement_list_url %}<span class="visually-hidden">(current)</span>{% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url "categories:category_list" as category_list_url %}
                            <a class="nav-link{% if request.path|startswith:category_list_url %} active{% endif %}" href="{{ category_list_url }}">
                                {% trans "Categories" %}
                                {% if request.path|startswith:category_list_url %}<span class="visually-hidden">(current)</span>{% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url "categories:tag_list" as tag_list_url %}
                            <a class="nav-link{% if request.path|startswith:tag_list_url %} active{% endif %}" href="{{ tag_list_url }}">
                                {% trans "Tags" %}
                                {% if request.path|startswith:tag_list_url %}<span class="visually-hidden">(current)</span>{% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url "statistics_detail" as statistics_detail_url %}
                            <a class="nav-link{% if request.path|startswith:statistics_detail_url %} active{% endif %}" href="{{ statistics_detail_url }}">
                                {% trans "Statistics" %}
                                {% if request.path|startswith:statistics_detail_url %}<span class="visually-hidden">(current)</span>{% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-10 offset-1">
                    <div id="messages">{% messages %}</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
