{% extends "ledger/base.html" %}
{% load accounts i18n %}


{% block breadcrumbs %}
<li class="active">{% trans "Dashboard" %}</li>
{% endblock %}


{% block content %}
{% if accounts %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingBalance">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBalance" aria-expanded="true" aria-controls="collapseBalance">
                        {% trans "Balance" %}
                    </button>
                </h5>
            </div>
            <div id="collapseBalance" class="collapse show" aria-labelledby="headingBalance" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>{% trans "Unit" %}</th>
                                    <th>{% trans "Total balance" %}</th>
                                    <th>{% trans "Total outstanding" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for unit in units %}
                                    <tr>
                                        <th>{{ unit.name }}</th>
                                        <td class="text-right">{{ unit|sumbalance:request.user }}</td>
                                        <td class="text-right">{{ unit|sumoutstanding:request.user }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingAccounts">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseAccounts" aria-expanded="false" aria-controls="collapseAccounts">
                        {% trans "Accounts" %}
                    </button>
                    <a class="btn btn-link float-right" href="{% url "accounts:accounts" %}">{% trans "View all" %}</a>
                </h5>
            </div>
            <div id="collapseAccounts" class="collapse" aria-labelledby="headingAccounts" data-parent="#accordion">
                <div class="card-body">
                    {% include "accounts/account/partials/_table.html" %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingEntries">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEntries" aria-expanded="false" aria-controls="collapseEntries">
                        {% trans "Entries" %}
                    </button>
                    <a class="btn btn-link float-right" href="{% url "accounts:entries" %}">{% trans "View all" %}</a>
                </h5>
            </div>
            <div id="collapseEntries" class="collapse" aria-labelledby="headingEntries" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="float-right">
                                <a class="btn btn-primary" href="{% url "accounts:entry_add" %}" role="button">{% trans "Add entry" %}</a>
                                <a class="btn btn-primary" href="{% url "accounts:standing_entry_add" %}">{% trans "Add standing entry" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-md-2">
                        <div class="col-md-12">
                            {% include "accounts/entry/partials/_table.html" with account=None entries=entries options=False %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <p>{% trans "There are no accounts available." %}</p>
{% endif %}
{% endblock %}
