{% load i18n %}


{{ form.media }}
<form action="{{ form_url }}" method="post" class="form-inline">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group{% if form.errors %} {{ field.errors|yesno:'has-error,has-success' }}{% endif %}">
            {{ field }}
        </div>
    {% endfor %}

    <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span> {% trans 'Filter' %}</button>
</form>
