{% extends "ledger/base.html" %}
{% load accounts ledger i18n static %}


{% block extrahead %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/accounts/statistics.js" %}"></script>
{% if chart %}
    <script type="text/javascript">
        {% if chart == "categories" %}
            {% if year and not month %}
                {% url "accounts:account_chart_statistics_categories" account.slug year as chart_url %}
            {% elif year and month and not category %}
                {% url "accounts:account_chart_statistics_categories" account.slug year month as chart_url %}
            {% elif year and month and category %}
                {% url "accounts:account_chart_statistics_categories" account.slug year month category.slug as chart_url %}
            {% else %}
                {% url "accounts:account_chart_statistics_categories" account.slug as chart_url %}
            {% endif %}
        {% endif %}
        {% if chart == "tags" %}
            {% if year and not month %}
                {% url "accounts:account_chart_statistics_tags" account.slug year as chart_url %}
            {% elif year and month and not tag %}
                {% url "accounts:account_chart_statistics_tags" account.slug year month as chart_url %}
            {% elif year and month and tag %}
                {% url "accounts:account_chart_statistics_tags" account.slug year month tag.slug as chart_url %}
            {% else %}
                {% url "accounts:account_chart_statistics_tags" account.slug as chart_url %}
            {% endif %}
        {% endif %}
        var url = "{{ chart_url }}";
        statistics(url, "chart");
    </script>
{% endif %}
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "accounts:account_list" %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "accounts:account_detail" account.slug %}">{{ account.name }}{% if account.closed %} <small>{% trans "Closed" %}</small>{% endif %}</a></li>
{% if chart %}
    <li class="breadcrumb-item"><a href="{% url "accounts:account_statistics" account.slug %}">{% trans "Statistics" %}</a></li>
    {% if year %}
        <li class="breadcrumb-item"><a href="{% url "accounts:account_statistics" account.slug chart %}">{{ chart_name }}</a></li>
        {% if month %}
            <li class="breadcrumb-item"><a href="{% url "accounts:account_statistics" account.slug chart year %}">{{ year }}</a></li>
            {% if category or tag %}
                <li class="breadcrumb-item"><a href="{% url "accounts:account_statistics" account.slug chart year month %}">{% trans month_name %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% if category %}
                        {{ category.name }}
                    {% elif tag %}
                        {{ tag.name }}
                    {% endif %}
                </li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">{% trans month_name %}</li>
            {% endif %}
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">{{ year }}</li>
        {% endif %}
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ chart_name }}</li>
    {% endif %}
{% else %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Statistics" %}</li>
{% endif %}
{% endblock %}


{% block content %}
{% if options %}
    <div class="row">
        <div class="col-md-2">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ option_msg }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownOptions">
                    {% for option in options %}
                        {% if chart and not year %}
                            {% url "accounts:account_statistics" account.slug chart option|get_item:"id" as statistics_url %}
                        {% elif chart and year and not month %}
                            {% url "accounts:account_statistics" account.slug chart year option|get_item:"id" as statistics_url %}
                        {% elif chart and year and month %}
                            {% url "accounts:account_statistics" account.slug chart year month option|get_item:"id" as statistics_url %}
                        {% else %}
                            {% url "accounts:account_statistics" account.slug option|get_item:"id" as statistics_url %}
                        {% endif %}
                        <a class="dropdown-item" href="{{ statistics_url }}">{{ option|get_item:"value" }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md-2">
{% else %}
    <div class="row">
{% endif %}
    <div class="col-md-12">
        {% if chart %}<div id="chart" style="min-width: 310px; height: 800px;"></div>{% endif %}
    </div>
</div>
{% endblock %}
