{% extends "ledger/base.html" %}
{% load accounts i18n %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $("a.iframeFormModal").modal({
            show: false
        });
        $('#iframeFormModal').on('show.bs.modal', function (event) {
            $("#iframeFormModalLabel").html(event.relatedTarget.title);
            $("#iframeFormModalIframe").attr("src", event.relatedTarget.href);

            if ( event.relatedTarget.href.includes("/accounts/account/") && (event.relatedTarget.href.includes("/create/") || event.relatedTarget.href.includes("/edit/")) ) {
                $("#iframeFormModalSubmit").addClass("btn-primary");
                $("#iframeFormModalSubmit").removeClass("btn-danger");
                $("#iframeFormModalSubmit").html("<span class=\"fas fa-save\"></span> {% trans "Save" %}");
            }
            else if ( event.relatedTarget.href.includes("/files/statement/") && event.relatedTarget.href.includes("/create/") ) {
                $("#iframeFormModalSubmit").addClass("btn-primary");
                $("#iframeFormModalSubmit").removeClass("btn-danger");
                $("#iframeFormModalSubmit").html("<span class=\"fas fa-upload\"></span> {% trans "Save" %}");
            }
            else if ( event.relatedTarget.href.includes("/accounts/account/") && event.relatedTarget.href.includes("/delete/") ) {
                $("#iframeFormModalSubmit").addClass("btn-danger");
                $("#iframeFormModalSubmit").removeClass("btn-primary");
                $("#iframeFormModalSubmit").html("<span class=\"fas fa-trash\"></span> {% trans "Yes, I'm sure" %}");
            }
        });

        $("#iframeFormModalIframe").on("load", function() {
            $("#iframeFormModalIframe").width(Math.max(600, $("#iframeFormModalIframe").prop("contentWindow").document.body.scrollWidth));
            $("#iframeFormModalIframe").height(Math.max(300, $("#iframeFormModalIframe").prop("contentWindow").document.body.scrollHeight));
            $("#iframeFormModal").modal("handleUpdate");
        });
    });
</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="float-right">
            <a class="btn btn-outline-primary iframeFormModal" href="{% url "accounts:account_create" %}?reload=True" title="{% trans "Add account" %}" data-toggle="modal" data-target="#iframeFormModal" role="button"><span class="fas fa-plus"></span> {% trans "Add" %}</a>
        </div>
    </div>
</div>
<div class="row mt-md-2">
    <div class="col-md-12">
        {% if accounts %}
            <div class="table-responsive">
                <table class="table table-hover table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Account" %}</th>
                            <th scope="col">{% trans "Closed" %}</th>
                            <th scope="col">{% trans "Balance" %}</th>
                            <th scope="col">{% trans "Outstanding" %}</th>
                            <th scope="col">{% trans "Number of statements" %}</th>
                            <th scope="col">{% trans "Number of entries" %}</th>
                            <th scope="col">{% trans "Last entry" %}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                            <tr>
                                <th scope="row"><a href="{% url "accounts:account_detail" account.slug %}">{{ account.name }}</a></th>
                                <td class="text-center">
                                    {% if account.closed %}
                                        {% trans "yes" %}
                                    {% else %}
                                        {% trans "no" %}
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ account|balance }}</td>
                                <td class="text-right">{{ account|outstanding }}</td>
                                <td class="text-right">{{ account.statements.count }}</td>
                                <td class="text-right">{{ account.entries.count }}</td>
                                <td>{{ account.entries.last.day|date:"l, d. F Y" }}</td>
                                <td>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle menu-dropdown-toggle" id="options-{entry.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></a>
                            <div class="dropdown-menu" aria-labelledby="options-{entry.id}">
                                <a class="dropdown-item iframeFormModal" href="{% url "accounts:account_edit" account.slug %}?reload=True" title="{% trans "Edit account" %}" data-toggle="modal" data-target="#iframeFormModal"><span class="fas fa-edit"></span> {% trans "Edit" %}</a>
                                <a class="dropdown-item" href="{% url "accounts:account_close" account.slug %}" title="{% trans "Close account" %}"><span class="fas fa-clone"></span> {% trans "Close" %}</a>
                                <a class="dropdown-item iframeFormModal" href="{% url "accounts:account_delete" account.slug %}?reload=True" title="{% trans "Delete account" %}" data-toggle="modal" data-target="#iframeFormModal"><span class="fas fa-trash"></span> {% trans "Delete" %}</a>
                                <a class="dropdown-item iframeFormModal" href="{% url "files:statement_create" account.slug %}?reload=True" title="{% trans "Add statement" %}" data-toggle="modal" data-target="#iframeFormModal"><span class="fas fa-upload"></span> {% trans "Add statement" %}</a>
                            </div>
                        </div>
                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>{% trans "There are no accounts available." %}</p>
        {% endif %}
    </div>
</div>
<div class="modal fade" id="iframeFormModal" tabindex="-1" role="dialog" aria-labelledby="iframeFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="iframeFormModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Cancel" %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="iframeFormModalIframe" name="iframeFormModalIframe" frameborder="0" width="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button id="iframeFormModalSubmit" type="submit" class="btn" onclick="window.frames['iframeFormModalIframe'].document.forms[0].submit();"></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
