{% extends "ledger/base.html" %}
{% load accounts i18n %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $('#iframeFormModal').on('show.bs.modal', function (event) {
            $("#iframeFormModalLabel").html(event.relatedTarget.title);
            $("#iframeFormModalIframe").attr("src", event.relatedTarget.href);

            if ( event.relatedTarget.href.includes("/accounts/account/") && (event.relatedTarget.href.includes("/create/") || event.relatedTarget.href.includes("/edit/")) ) {
                $("#iframeFormModalSubmit").addClass("btn-primary");
                $("#iframeFormModalSubmit").removeClass("btn-danger");
                $("#iframeFormModalSubmit").html("<span class=\"fas fa-save\"></span> {% trans "Save" %}");
            }
            else if ( event.relatedTarget.href.includes("/files/statement/") && event.relatedTarget.href.includes("/create/") ) {
                $("#iframeFormModalSubmit").addClass("btn-primary");
                $("#iframeFormModalSubmit").removeClass("btn-danger");
                $("#iframeFormModalSubmit").html("<span class=\"fas fa-upload\"></span> {% trans "Save" %}");
            }
            else if ( event.relatedTarget.href.includes("/accounts/account/") && event.relatedTarget.href.includes("/delete/") ) {
                $("#iframeFormModalSubmit").addClass("btn-danger");
                $("#iframeFormModalSubmit").removeClass("btn-primary");
                $("#iframeFormModalSubmit").html("<span class=\"fas fa-trash\"></span> {% trans "Yes, I'm sure" %}");
            }
        });
    });
</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col text-end">
        <a class="btn btn-outline-primary iframeFormModal" href="{% url "accounts:account_create" %}?next={% url "accounts:account_list" %}" title="{% trans "Add account" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal" role="button"><span class="fas fa-plus"></span> {% trans "Add" %}</a>
    </div>
</div>
<div class="row mt-md-2">
    <div class="col">
        {% if accounts %}
            <div class="table-responsive">
                <table class="table table-hover table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">{% trans "Account" %}</th>
                            <th scope="col">{% trans "Closed" %}</th>
                            <th scope="col">{% trans "Balance" %}</th>
                            <th scope="col">{% trans "Outstanding" %}</th>
                            <th scope="col">{% trans "Number of statements" %}</th>
                            <th scope="col">{% trans "Number of entries" %}</th>
                            <th scope="col">{% trans "Last entry" %}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                            <tr>
                                <th scope="row"><a href="{% url "accounts:account_detail" account.slug %}" {% if account.short_name %}data-bs-toggle="tooltip" data-bs-placement="right" title="{{ account.short_name }}"{% endif %}>{{ account.name }}</a></th>
                                <td class="text-center">
                                    {% if account.closed %}
                                        {% trans "yes" %}
                                    {% else %}
                                        {% trans "no" %}
                                    {% endif %}
                                </td>
                                <td class="text-end">{{ account|balance }}</td>
                                <td class="text-end">{{ account|outstanding }}</td>
                                <td class="text-end">{{ account.statements.count }}</td>
                                <td class="text-end">{{ account.entries.count }}</td>
                                <td>{{ account.entries.last.date|date:"l, d. F Y" }}</td>
                                <td>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle menu-dropdown-toggle" id="options-{entry.id}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></a>
                            <div class="dropdown-menu" aria-labelledby="options-{entry.id}">
                                <a class="dropdown-item iframeFormModal" href="{% url "accounts:account_edit" account.slug %}?next={% url "accounts:account_list" %}" title="{% trans "Edit account" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fas fa-edit"></span> {% trans "Edit" %}</a>
                                <a class="dropdown-item" href="{% url "accounts:account_close" account.slug %}" title="{% if account.closed %}{% trans "Reopen account" %}{% else %}{% trans "Close account" %}{% endif %}"><span class="fas fa-clone"></span> {% if account.closed %}{% trans "Reopen" %}{% else %}{% trans "Close" %}{% endif %}</a>
                                <a class="dropdown-item iframeFormModal" href="{% url "accounts:account_delete" account.slug %}" title="{% trans "Delete account" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fas fa-trash"></span> {% trans "Delete" %}</a>
                                <a class="dropdown-item iframeFormModal" href="{% url "files:statement_create" account.slug %}" title="{% trans "Add statement" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fas fa-upload"></span> {% trans "Add statement" %}</a>
                            </div>
                        </div>
                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>{% trans "There are no accounts available." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
