{% extends "ledger/base.html" %}
{% load accounts i18n ledger static %}


{% block extrahead %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/accounts/statistics.js" %}"></script>
<script src="{% static "js/accounts/categories.js" %}"></script>
<script src="{% static "js/accounts/tags.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $('#iframeFormModal').on('show.bs.modal', function (event) {
            $("#iframeFormModalLabel").html(event.relatedTarget.title);
            $("#iframeFormModalIframe").attr("src", event.relatedTarget.href);

            if ( event.relatedTarget.href.includes("/accounts/account/") && event.relatedTarget.href.includes("/edit/") ) {
                $("#iframeFormModalSubmit").addClass("btn-primary");
                $("#iframeFormModalSubmit").removeClass("btn-danger");
                $("#iframeFormModalSubmit").html("{% trans "Save" %}");
            }
            else if ( event.relatedTarget.href.includes("/accounts/account/") && event.relatedTarget.href.includes("/delete/") ) {
                $("#iframeFormModalSubmit").addClass("btn-danger");
                $("#iframeFormModalSubmit").removeClass("btn-primary");
                $("#iframeFormModalSubmit").html("{% trans "Yes, I'm sure" %}");
            }
        });
    });
</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-10">
        <div class="btn-group" role="group">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetails" aria-expanded="{% if not categories_year and not categories_month and not tags_year and not tags_month and not request.get_full_path|endswith:"?categories=" and not request.get_full_path|endswith:"?tags=" %}true{% else %}false{% endif %}" aria-controls="collapseDetails">{% trans "Details" %}</button>
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStatisticsCategories" aria-expanded="false" aria-controls="collapseStatisticsCategories" id="statisticsCategories">
                {% trans "Statistics" %}
                <small>{% trans "Categories" %}</small>
            </button>
            {% if account|has_tags %}
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStatisticsTags" aria-expanded="{% if tags_year or tags_month or request.get_full_path|endswith:"?tags=" %}true{% else %}false{% endif %}" aria-controls="collapseStatisticsTags" id="statisticsTags">
                    {% trans "Statistics" %}
                    <small>{% trans "Tags" %}</small>
                </button>
            {% endif %}
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">{% trans "Categories" %}</button>
            {% if account|has_tags %}
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTags" aria-expanded="false" aria-controls="collapseTags">{% trans "Tags" %}</button>
            {% endif %}
        </div>
    </div>
    <div class="col-2 text-end">
        <a class="btn btn-outline-primary iframeFormModal" href="{% url "accounts:account_edit" account.slug %}" title="{% trans "Edit account" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fas fa-edit"></span> {% trans "Edit" %}</a>
        <a class="btn btn-outline-danger iframeFormModal" href="{% url "accounts:account_delete" account.slug %}" title="{% trans "Delete account" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fas fa-trash"></span> {% trans "Delete" %}</a>
    </div>
</div>
<div id="account">
    <div class="collapse{% if not categories_year and not categories_month and not tags_year and not tags_month and not request.get_full_path|endswith:"?categories=" and not request.get_full_path|endswith:"?tags=" %} show{% endif%}" id="collapseDetails" aria-labelledby="collapseDetails" data-bs-parent="#account">
        <div class="row mt-2">
            <div class="col">
                <div class="card card-body">
                    {% if account.closed %}<div class="alert alert-danger" role="alert">{% trans "This account is currently closed." %}</div>{% endif %}
                    <dl class="row">
                        <dt class="col-2">{% trans "Name" %}</dt>
                        <dd class="col-10">{{ account.name }}</dd>
                        <dt class="col-2">{% trans "Short name" %}</dt>
                        <dd class="col-10">{{ account.short_name|default_if_none:"" }}</dd>

                        <dt class="col-2">{% trans "Created at" %}</dt>
                        <dd class="col-10">{{ account.created_at|date:"r" }}</dd>
                        <dt class="col-2">{% trans "Last updated at" %}</dt>
                        <dd class="col-10">{{ account.updated_at|date:"r" }}</dd>
                        <dt class="col-2">{% trans "Category" %}</dt>
                        <dd class="col-10"><a href="{% url "categories:category_detail" account.category.slug %}">{{ account.category.name }}</a></dd>
                        <dt class="col-2">{% trans "Unit" %}</dt>
                        <dd class="col-10"><a href="{% url "units:detail" account.unit.slug %}">{{ account.unit.name }}</a></dd>
                        <dt class="col-2">{% trans "Balance" %}</dt>
                        <dd class="col-10">{% balance account %}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse{% if categories_year or categories_month or request.get_full_path|endswith:"?categories=" %} show{% endif%}" id="collapseStatisticsCategories" aria-labelledby="statisticsCategories" data-bs-parent="#account">
        <div class="row mt-2">
            <div class="offset-5 col-2 text-center">
                {% if categories_year and categories_month %}
                    <a class="btn btn-secondary" href="{% url "accounts:account_detail" account.slug %}?categories=">{% trans "Reset" %}</a>
                {% else %}
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownCategories" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if categories_year %}
                                {% trans "Select a month" %}
                            {% else %}
                                {% trans "Select a year" %}
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownCategories">
                            {% if categories_year %}
                                {% for month in categories_months %}
                                <a class="dropdown-item" href="{% url "accounts:account_detail" slug=account.slug categories_year=categories_year categories_month=month|get_item:0 %}">{{ month|get_item:1 }}</a>
                                {% endfor %}
                            {% else %}
                                {% for year in categories_years %}
                                <a class="dropdown-item" href="{% url "accounts:account_detail" slug=account.slug categories_year=year %}">{{ year }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="ascchart" style="min-width: 310px; height: 750px;"></div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        var ascchart_url = "{% if categories_year and categories_month %}{% url "accounts:account_chart_statistics_categories" account.slug categories_year categories_month %}{% elif categories_year %}{% url "accounts:account_chart_statistics_categories" account.slug categories_year %}{% else %}{% url "accounts:account_chart_statistics_categories" account.slug %}{% endif %}";
                        statistics(ascchart_url, "ascchart");
                    });
                </script>
            </div>
        </div>
    </div>
    {% if account|has_tags %}
        <div class="collapse{% if tags_year or tags_month or request.get_full_path|endswith:"?tags=" %} show{% endif%}" id="collapseStatisticsTags" aria-labelledby="statisticsTags" data-bs-parent="#account">
            <div class="row mt-2">
                <div class="offset-md-5 col-md-2 text-center">
                    {% if tags_year and tags_month %}
                        <a class="btn btn-secondary" href="{% url "accounts:account_detail" account.slug %}?tags=">{% trans "Reset" %}</a>
                    {% else %}
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownTags" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if tags_year %}
                                    {% trans "Select a month" %}
                                {% else %}
                                    {% trans "Select a year" %}
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownTags">
                                {% if tags_year %}
                                    {% for month in tags_months %}
                                    <a class="dropdown-item" href="{% url "accounts:account_detail" slug=account.slug tags_year=tags_year tags_month=month|get_item:0 %}">{{ month|get_item:1 }}</a>
                                    {% endfor %}
                                {% else %}
                                    {% for year in tags_years %}
                                    <a class="dropdown-item" href="{% url "accounts:account_detail" slug=account.slug tags_year=year %}">{{ year }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="astchart" style="min-width: 310px; height: 750px;"></div>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var astchart_url = "{% if tags_year and tags_month %}{% url "accounts:account_chart_statistics_tags" account.slug tags_year tags_month %}{% elif tags_year %}{% url "accounts:account_chart_statistics_tags" account.slug tags_year %}{% else %}{% url "accounts:account_chart_statistics_tags" account.slug %}{% endif %}";
                            statistics(astchart_url, "astchart");
                        });
                    </script>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="collapse" id="collapseCategories" aria-labelledby="collapseCategories" data-bs-parent="#account">
        <div class="row mt-2">
            <div class="col">
                <div id="cchart" style="min-width: 310px; height: 750px;"></div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        var cchart_url = "{% url "accounts:account_chart_categories" account.slug %}";
                        categories(cchart_url, "cchart");
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseTags" aria-labelledby="collapseTags" data-bs-parent="#account">
        <div class="row mt-2">
            <div class="col">
                <div id="tchart" style="min-width: 310px; height: 750px;"></div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        var tchart_url = "{% url "accounts:account_chart_tags" account.slug %}";
                        tags(tchart_url, "tchart");
                    });
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
