{% extends "ledger/base.html" %}
{% load i18n ledger %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "accounts:account_list" %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item">
    <a href="{% url "accounts:account_detail" account.slug %}">
        {{ account.name }}
        {% if account.closed %}<small>{% trans "Closed" %}</small>{% endif %}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Statements" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-2 offset-md-10 text-right">
        <a class="btn btn-outline-primary" href="{% url "files:add" account|content_type_pk account.pk %}?a={% if account %}t{% else %}f{% endif %}" role="button">
            {% trans "Upload file" %}
        </a>
    </div>
</div>
<div class="row mt-md-2">
    <div class="col-md-12">
        {% include "files/partials/_file_table.html" with files=statements options=True %}
    </div>
</div>
{% endblock %}
