{% extends "ledger/base.html" %}
{% load bootstrap i18n ledger %}


{% block extrahead %}
{% if account %}
    {% url "accounts:account_standing_entry_add" account.slug as standing_entry_url %}
{% else %}
    {% url "accounts:standing_entry_add" as standing_entry_url %}
{% endif %}
<script type="text/javascript">
    $(function() {
        {% if request.path == standing_entry_url %}
            $("#id_start_date").datepicker({
                dateFormat: "yy-mm-dd",
                firstDay: 1,
                showOtherMonths: true,
                selectOtherMonths: true
            });
            $("#id_end_date").datepicker({
                dateFormat: "yy-mm-dd",
                firstDay: 1,
                showOtherMonths: true,
                selectOtherMonths: true
            });
            $("#id_execution").select2({
                minimumResultsForSearch: Infinity,
                allowClear: true
            });
        {% else %}
            $("#id_day").datepicker({
                dateFormat:"yy-mm-dd",
                firstDay: 1,
                showOtherMonths: true,
                selectOtherMonths: true
            });
            $("#date_today").click(function() {
                $("#id_day").val("{% timestamp "%Y-%m-%d" %}");
                $("#id_amount").focus();
                return false;
            });
        {% endif %}
        {% if not account %}
            $("#id_account").select2({
                placeholder: "{% trans "Select a accounts" %}",
                allowClear: true,
                ajax: {
                    url: "{% url "accounts:account_autocomplete" %}",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return { q: params.term };
                    },
                    processResults: function (data, params) {
                        return { results: data.accounts }
                    }
                }
            });
        {% endif %}
        $("#id_category").select2({
            placeholder: "{% trans "Select a category" %}",
            allowClear: true,
            ajax: {
                url: "{% url "categories:category_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.categories }
                }
            }
        });
        $("#id_tags").select2({
            placeholder: "{% trans "Select a tag" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $(".mpopup").magnificPopup({
            type: "iframe"
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
{% if account %}
    {% url "accounts:account_standing_entry_add" account.slug as standing_entry_url %}
{% else %}
    {% url "accounts:standing_entry_add" as standing_entry_url %}
{% endif %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
{% if account %}
    <li class="breadcrumb-item"><a href="{% url "accounts:account_list" %}">{% trans "Accounts" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url "accounts:account_detail" account.slug %}">{{ account.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url "accounts:account_entry_list" account.slug %}">{% trans "Entries" %}</a></li>
    {% if entry %}
        <li class="breadcrumb-item"><a href="{% url "accounts:account_entry_detail" account.slug entry.id %}">{% blocktrans with id=entry.serial_number %}Entry #{{ id }}{% endblocktrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Edit" %}</li>
    {% endif %}
{% else %}
    <li class="breadcrumb-item"><a href="{% url "accounts:entry_list" %}">{% trans "Entries" %}</a></li>
    {% if entry %}
        <li class="breadcrumb-item"><a href="{% url "accounts:entry_detail" entry.id %}">{% blocktrans with id=entry.serial_number %}Entry #{{ id }}{% endblocktrans %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Edit" %}</li>
    {% endif %}
{% endif %}
{% if not entry %}
    {% if request.path == standing_entry_url %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Add standing entry" %}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{% trans "Add entry" %}</li>
    {% endif %}
{% endif %}
{% endblock %}


{% block content %}
{% if account %}
    {% url "accounts:account_standing_entry_add" account.slug as standing_entry_url %}
{% else %}
    {% url "accounts:standing_entry_add" as standing_entry_url %}
{% endif %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% if request.path == standing_entry_url %}
            {% if account %}
                {% url "accounts:account_standing_entry_add" account.slug as form_url %}
            {% else %}
                {% url "accounts:standing_entry_add" as form_url %}
            {% endif %}
        {% else %}
            {% if account %}
                {% if entry %}
                    {% url "accounts:account_entry_edit" account.slug entry.id as form_url %}
                {% else %}
                    {% url "accounts:account_entry_add" account.slug as form_url %}
                {% endif %}
            {% else %}
                {% if entry %}
                    {% url "accounts:entry_edit" entry.id as form_url %}
                {% else %}
                    {% url "accounts:entry_add" as form_url %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% trans "Save" as save_trans %}
        {% bootstrap_form form=form url=form_url glyphicon="glyphicon glyphicon-floppy-save" btn_title=save_trans %}
    </div>
</div>
{% endblock%}
