{% extends "ledger/popup.html" %}
{% load accounts i18n ledger %}


{% block content %}
<table class="table table-hover table-borderless">
    <tbody>
        <tr>
            <th scope="row">{% trans "Created at" %}</th>
            <td>{{ entry.created_at|date:"r" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Last updated at" %}</th>
            <td>{{ entry.updated_at|date:"r" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Account" %}</th>
            <td><a href="{% url "accounts:account_detail" entry.account.slug %}">{{ entry.account.name }}</a></td>
        </tr>
        <tr>
            <th scope="row">{% trans "Serial number" %}</th>
            <td>{{ entry.serial_number }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Day" %}</th>
            <td>{{ entry.day|date:"D, d.m.Y"  }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Amount" %}</th>
            <td>{{ entry.amount|colorfy:entry.account.unit }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Fees" %}</th>
            <td>{{ entry.fees|colorfy:entry.account.unit }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Category" %}</th>
            <td><a href="{% url "categories:category_detail" entry.category.slug %}">{{ entry.category.name }}</a></td>
        </tr>
        <tr>
            <th scope="row">{% trans "Additional" %}</th>
            <td>{{ entry.additional|default_if_none:"" }}</td>
        </tr>
        <tr>
            <th scope="row">{% trans "Tags" %}</th>
            <td>
                {% for tag in entry.tags.all %}
                    <a href="{% url "categories:tag_detail" tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th scope="row">{% trans "Invoices" %}</th>
            <td>
                {% for invoice in entry.invoices.all %}
                    <a href="{% url "files:invoice_detail" invoice.slug %}">{{ invoice.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
