{% extends "ledger/popup.html" %}
{% load bootstrap i18n l10n ledger %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
{% url "accounts:standing_entry_create" as standing_entry_url %}
<script type="text/javascript">
    $(function() {
        {% if request.path == standing_entry_url %}
            $("#id_start_date").datepicker({
                dateFormat: "yy-mm-dd",
                firstDay: 1,
                showOtherMonths: true,
                selectOtherMonths: true
            });
            $("#id_end_date").datepicker({
                dateFormat: "yy-mm-dd",
                firstDay: 1,
                showOtherMonths: true,
                selectOtherMonths: true
            });
            $("#id_execution").select2({
                minimumResultsForSearch: Infinity,
                allowClear: true
            });
        {% else %}
            $("#id_day").datepicker({
                dateFormat:"yy-mm-dd",
                firstDay: 1,
                showOtherMonths: true,
                selectOtherMonths: true
            });
            $("#date_today").click(function() {
                $("#id_day").val("{% now "Y-m-d" %}");
                $("#id_amount").focus();
                return false;
            });
        {% endif %}
        $("#id_account").select2({
            placeholder: "{% trans "Select a account" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            ajax: {
                url: "{% url "accounts:account_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term, closed: false };
                },
                processResults: function (data, params) {
                    return { results: data.accounts }
                }
            }
        });
        $("#id_category").select2({
            placeholder: "{% trans "Select a category" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            ajax: {
                url: "{% url "categories:category_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.categories }
                }
            }
        });
        $("#id_tags").select2({
            placeholder: "{% trans "Select a tag" %}",
            language: "{{ LANGUAGE_CODE }}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_execution").select2({language: "{{ LANGUAGE_CODE }}"});
    });
</script>
{% endblock %}


{% block content %}
{% bootstrap_form form=form enctype="multipart/form-data" submit=False %}
{% endblock%}
