{% extends "ledger/base.html" %}
{% load accounts bootstrap i18n l10n ledger static %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
<link rel="stylesheet" media="all" href="{% static "css/magnific-popup.css" %}"/>
<script type="text/javascript" src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $("#id_start_date").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $("#id_end_date").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        {% if not account %}
            $("#id_accounts").select2({
                placeholder: "{% trans "Accounts" %}",
                language: "{{ LANGUAGE_CODE }}",
                ajax: {
                    url: "{% url "accounts:account_autocomplete" %}",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return { q: params.term };
                    },
                    processResults: function (data, params) {
                        return { results: data.accounts }
                    }
                }
            });
        {% endif %}
        $("#id_categories").select2({
            placeholder: "{% trans "Categories" %}",
            ajax: {
                url: "{% url "categories:category_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.categories }
                }
            }
        });
        $("#id_tags").select2({
            placeholder: "{% trans "Tags" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        {% if not account %}
            $("#id_units").select2({
                placeholder: "{% trans "Units" %}",
                ajax: {
                    url: "{% url "units:unit_autocomplete" %}",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return { q: params.term };
                    },
                    processResults: function (data, params) {
                        return { results: data.units }
                    }
                }
            });
        {% endif %}

        $("a.fileFormModal").modal({
            show: false
        });
        $("#formModal").modal({
            show: false
        });
        $('#fileFormModal').on('show.bs.modal', function (event) {
            $("#fileFormModalIframe").attr("src", event.relatedTarget.href);
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
{% if account %}
    <li class="breadcrumb-item"><a href="{% url "accounts:account_list" %}">{% trans "Accounts" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url "accounts:account_detail" account.slug %}">{{ account.name }}{% if account.closed %} <small>{% trans "Closed" %}</small>{% endif %}</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">{% trans "Entries" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-3">
        {% balance account %}
    </div>
    <div class="col-md-6 text-center">
        {% if account %}
            {% url "accounts:account_entry_list" account.slug as form_url %}
        {% else %}
            {% url "accounts:entry_list" as form_url %}
        {% endif %}
        {% trans "Filter" as filter_trans %}
        {% bootstrap_form csrf=False method="get" form=form url=form_url type="inline" labels=False btn_title=filter_trans %}
    </div>
   <div class="col-md-3 text-right">
        {% if show_options %}
            <a class="btn btn-outline-primary" href="{% if account %}{% url "accounts:account_entry_create" account.slug %}{% else %}{% url "accounts:entry_create" %}?{% if start_date %}&start_date={{ start_date|date:"Y-m-d" }}{% endif %}{% if end_date %}&end_date={{ end_date|date:"Y-m-d" }}{% endif %}{% if accounts %}&accounts={% for a in accounts %}{{ a }}{% if not forloop.last %}&accounts={% endif %}{% endfor %}{% endif %}{% if categories %}&categories={% for c in categories %}{{ c }}{% if not forloop.last %}&categories={% endif %}{% endfor %}{% endif %}{% if tags %}&tags={% for t in tags %}{{ t }}{% if not forloop.last %}&tags={% endif %}{% endfor %}{% endif %}{% if units %}&units={% for u in units %}{{ u }}{% if not forloop.last %}&units={% endif %}{% endfor %}{% endif %}{% endif %}">{% trans "Add entry" %}</a>
            <a class="btn btn-outline-primary" href="{% if account %}{% url "accounts:account_standing_entry_create" account.slug %}{% else %}{% url "accounts:standing_entry_create" %}{% endif %}">{% trans "Add standing entry" %}</a>
        {% endif %}
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        {% include "accounts/partials/_entry_table.html" with account=account entries=entries options=show_options %}
        {% if account %}
            {% url "accounts:account_entry_list" account.slug as base_path %}
        {% else %}
            {% url "accounts:account_entry_list" account.slug as base_path %}
        {% endif %}
        {% trans "Entries" as pagination_title %}
        {% pagination paginator page_obj base_path pagination_title start_date=start_date end_date=end_date accounts=accounts|join:"&accounts=" categories=categories|join:"&categories=" tags=tags|join:"&tags=" units=units|join:"&units=" %}
    </div>
</div>
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">{% trans "Add entry" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Cancel" %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-primary" form="modal_form">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fileFormModal" tabindex="-1" role="dialog" aria-labelledby="fileFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileFormModalLabel">{% trans "Add file" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Cancel" %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="fileFormModalIframe" name="fileFormModalIframe" frameborder="0" width="100%" onload="$('#fileFormModal').modal('handleUpdate')"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-primary" onclick="window.frames['fileFormModalIframe'].document.forms[0].submit();">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
