{% extends 'ledger/base.html' %}
{% load i18n ledger static %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li class="active">{% trans 'budget' %}</li>
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{% trans 'budget' %}</h1>
    </div>
    <div class="panel-body">
        <div class="pull-right">
            <a href="{% url 'users:budget_edit' %}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans 'edit budget' %}
            </a>
        </div>
        <nav>
            <ul class="pagination">
                {% for y in years %}
                    <li{% if year == y %} class="active"{% endif %}><a href="{% url 'users:budget' %}?year={{ y }}">{{ y }}{% if year == y %}<span class="sr-only">(current)</span>{% endif %}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    {% if year %}
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="3">{% trans 'income' %}</th>
                        <th colspan="3">{% trans 'consumption' %}</th>
                        <th colspan="3">{% trans 'insurance' %}</th>
                        <th colspan="3">{% trans 'savings' %}</th>
                    </tr>
                    <tr>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'monthly' %}</th>
                        <th>{% trans 'yearly' %}</th>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'monthly' %}</th>
                        <th>{% trans 'yearly' %}</th>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'monthly' %}</th>
                        <th>{% trans 'yearly' %}</th>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'monthly' %}</th>
                        <th>{% trans 'yearly' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                        <tr>
                            {% for cell in row %}
                                {% if forloop.counter0|divisibleby:3 %}
                                    <th>{% if cell|length == 2 %}<a href="{% url 'categories:tag' cell|get_item:0 %}">{{ cell|get_item:1 }}</a>{% else %}{{ cell }}{% endif %}</th>
                                {% else %}
                                    <td class="text-right">{{ cell }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% for row in footer %}
                        <tr>
                            {% for cell in row %}
                                {% if forloop.counter0|divisibleby:3 %}
                                    <th>{{ cell }}</th>
                                {% else %}
                                    <td class="text-right">{{ cell }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tfoot>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}
