{% extends "ledger/base.html" %}
{% load bootstrap i18n %}


{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_income_tags").select2({
            placeholder: "{% trans "Select a tag" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_consumption_tags").select2({
            placeholder: "{% trans "Select a tag" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_insurance_tags").select2({
            placeholder: "{% trans "Select a tag" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_savings_tags").select2({
            placeholder: "{% trans "Select a tag" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li><a href="{% url "users:budget" %}">{% trans "Budget" %}</a></li>
<li class="active">{% trans "Edit" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans "Edit budget" %}</h1>
            </div>
            <div class="panel-body">
                {% trans "Save" as save_trans %}
                {% url "users:budget_edit" as form_url %}
                {% bootstrap_form form=form url=form_url glyphicon="glyphicon glyphicon-floppy-save" btn_title=save_trans %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
