header, footer, nav, article, aside {display: block;}
body {font-family: monospace;
    font-size: 10pt;
    font-weight: normal;
    padding-top: 70px;}

a:active {position: relative;
    top: 1px;
    right: -1px;}

.panel .panel-heading a.panel-title {color: #337ab7;}
.panel .panel-heading .panel-title a {color: #337ab7;}

.pagination-info {line-height: 34px;
    margin-left: 20px;
    vertical-align: text-middle;}

.table tfoot {border-top: double black;}



/*### form ###*/

.required:after {content: " *";
    color: gray;}



/*### entries ###*/

.red {color: red;}
.green {color: green;}
