{% extends "ledger/base.html" %}
{% load accounts i18n ledger static %}


{% block extrahead %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/categories/tags.js" %}"></script>
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "categories:tags" %}">{% trans "Tags" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ tag.name }}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12 text-right">
        <a href="{% url "categories:tag_edit" tag.slug  %}" class="btn btn-primary" role="button">{% trans "Edit tag" %}</a>
        <a href="{% url "categories:tag_delete" tag.slug  %}" class="btn btn-danger" role="button">{% trans "Delete tag" %}</a>
    </div>
</div>
<div class="row mt-md-2">
    <div class="col-md-12">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingDetails">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">
                            {% trans "Details" %}
                        </button>
                    </h5>
                </div>
                <div id="collapseDetails" class="collapse{% if not year %} show{% endif %}" aria-labelledby="headingDetails" data-parent="#accordion">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-md-3">{% trans "Created at" %}</dt>
                            <dd class="col-md-9">{{ tag.created_at|date:"r" }}</dd>
                            <dt class="col-md-3">{% trans "Last updated at" %}</dt>
                            <dd class="col-md-9">{{ tag.updated_at|date:"r" }}</dd>
                            <dt class="col-md-3">{% trans "Total" %}</dt>
                            <dd class="col-md-9">{% balance entry_list %}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingStatistics">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseStatistics" aria-expanded="true" aria-controls="collapseStatistics">
                            {% trans "Statistics" %}
                            {% if year %}<small><a href="{% url "categories:tag" tag.slug %}">{{ year }}</a></small>{% endif %}
                        </button>
                        <a class="btn btn-link float-right" href="{% url "categories:tag_statistics" tag.slug %}?chart=categories">{% trans "View" %}</a>
                    </h5>
                </div>
                <div id="collapseStatistics" class="collapse{% if year %} show{% endif %}" aria-labelledby="headingStatistics" data-parent="#accordion">
                    <div class="card-body">
                        {% if years %}
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="dropdown show">
                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownYears" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {% trans "Select a year" %}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownYears">
                                            {% for year in years %}
                                                <a class="dropdown-item" href="?year={{ year }}">{{ year }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-md-2">
                        {% else %}
                            <div class="row">
                        {% endif %}
                                <div class="col-md-12">
                                    <div id="mchart" style="min-width: 310px; height: 500px;"></div>
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            var url = "{% url "categories:tag_chart_statistics_categories" tag.slug %}{% if year %}?year={{ year }}{% endif %}";
                                            statistics(url, "mchart");
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingEntries">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEntries" aria-expanded="true" aria-controls="collapseEntries">
                            {% trans "Entries" %}
                        </button>
                        <a class="btn btn-link float-right" href="{% url "categories:tag_entries" tag.slug %}">{% trans "View all" %}</a>
                    </h5>
                </div>
                <div id="collapseEntries" class="collapse" aria-labelledby="headingEntries" data-parent="#accordion">
                    <div class="card-body">
                        {% include "accounts/entry/partials/_table.html" with entries=entries options=False %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
