{% extends 'ledger/base.html' %}
{% load accounts i18n ledger static %}


{% block extrahead %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/charts/accounts/tags/statistics.js' %}"></script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li><a href="{% url 'categories:tags' %}">{% trans 'tags' %}</a></li>
<li class="active">{{ tag.name|lower }}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12 text-right">
        <h1>
            <a href="{% url 'categories:tag_edit' tag.slug  %}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans 'edit tag' %}
            </a>
            <a href="{% url 'categories:tag_delete' tag.slug  %}" class="btn btn-danger" role="button">
                <span class="glyphicon glyphicon-trash"></span>
                {% trans 'delete tag' %}
            </a>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{ tag.name|lower }}</h1>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>{% trans 'created at' %}</dt>
                    <dd>{{ tag.created_at|date:'r'|lower }}</dd>
                    <dt>{% trans 'last updated at' %}</dt>
                    <dd>{{ tag.updated_at|date:'r'|lower }}</dd>
                    <dt>{% trans 'total' %}</dt>
                    <dd>{% balance entry_list %}</dd>
                </dl>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <a href="{% url 'categories:tag_statistics' tag.slug %}?chart=categories">{% trans 'statistics' %}</a>
                    <small>
                        {% trans 'categories' %}
                        {% if year %}| <a href="{% url 'categories:tag' tag.slug %}">{{ year }}</a>{% endif %}
                    </small>
                </h1>
            </div>
            <div class="panel-body">
                {% if years %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            select year <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for year in years %}
                                <li><a href="?year={{ year }}">{{ year }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="panel-body" id="mchart" style="min-width: 310px; height: 500px;"></div>
            <script type="text/javascript">
                $(document).ready(function() {
                    var url = "{% url 'categories:tag_chart_statistics_categories' tag.slug %}{% if year %}?year={{ year }}{% endif %}";
                    statistics(url, 'mchart');
                });
            </script>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><a href="{% url 'categories:tag_entries' tag.slug %}">{% trans 'entries' %}</a></h1>
            </div>
            {% include 'accounts/entry/partials/_table.html' with entries=entries options=False %}
        </div>
    </div>
</div>
{% endblock %}
