{% extends "ledger/base.html" %}
{% load bootstrap i18n ledger %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $("#id_start_date").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $("#id_end_date").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $("#id_accounts").select2({
            placeholder: "{% trans "Accounts" %}",
            ajax: {
                url: "{% url "accounts:account_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.accounts }
                }
            }
        });
        $("#id_categories").select2({
            placeholder: "{% trans "Categories" %}",
            ajax: {
                url: "{% url "categories:category_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.categories }
                }
            }
        });
        $("#id_tags").select2({
            placeholder: "{% trans "Tags" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_units").select2({
            placeholder: "{% trans "Units" %}",
            ajax: {
                url: "{% url "units:unit_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.units }
                }
            }
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li><a href="{% url "categories:tags" %}">{% trans "Tags" %}</a></li>
<li><a href="{% url "categories:tag" tag.slug %}">{{ tag.name }}</a></li>
<li class="active">{% trans "Entries" %}</li>
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{% trans "Entries" %}</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <h5>
                    <b>{% trans "Total" %}:</b>
                    {% balance entry_list %}
                </h5>
            </div>
            <div class="col-md-6 text-center">
                {% url "categories:tag_entries" tag.slug as form_url %}
                {% include "ledger/partials/_form_inline.html" with form_url=form_url %}
            </div>
        </div>
    </div>
    {% include "accounts/entry/partials/_table.html" with entries=entries options=True %}
     <div class="panel-body">
        {% trans "Entries" as pagination_title %}
        {% pagination paginator entries pagination_title %}
    </div>
</div>
{% endblock %}
