{% extends 'ledger/base.html' %}
{% load i18n %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li><a href="{% url 'categories:tags' %}">{% trans 'tags' %}</a></li>
{% if tag %}
    <li><a href="{% url 'categories:tag' tag.slug %}">{{ tag.name|lower }}</a></li>
    <li class="active">{% trans 'edit' %}</li>
{% else  %}
    <li class="active">{% trans 'add tag' %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {% if tag %}
                        {% trans 'edit' %} {{ tag.name|lower }}
                    {% else %}
                        {% trans 'add tag' %}
                    {% endif %}
                </h1>
            </div>
            <div class="panel-body">
                {% if tag %}
                    {% url 'categories:tag_edit' tag.slug as form_url %}
                {% else %}
                    {% url 'categories:tag_add' as form_url %}
                {% endif %}
                {% include 'ledger/partials/_form.html' with form_url=form_url %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
