{% extends 'base.html' %}
{% load i18n %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $('#id_accounts').select2({
            placeholder: 'accounts',
            ajax: {
                url: "{% url 'account_autocomplete' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.accounts }
                }
            }
        });
        $('#id_categories').select2({
            placeholder: 'categories',
            ajax: {
                url: "{% url 'category_autocomplete' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.categories }
                }
            }
        });
        $('#id_tags').select2({
            placeholder: 'tags',
            ajax: {
                url: "{% url 'tag_autocomplete' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $('#id_units').select2({
            placeholder: 'units',
            ajax: {
                url: "{% url 'unit_autocomplete' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.units }
                }
            }
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li class="active">{% trans 'tags' %}</li>
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{% trans 'tags' %}</h1>
    </div>
    <div class="panel-body text-center">
        {% url 'tags' as form_url %}
        {% include 'partials/_form_inline.html' with form_url=form_url %}
    </div>
    {% include 'categories/tag/partials/_table.html' with tags=tags %}
</div>
{% endblock %}
