{% extends "ledger/base.html" %}
{% load i18n static %}


{% block extrahead %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/categories/tags.js" %}"></script>
{% if chart == "accounts" or chart == "categories" %}
    <script type="text/javascript">
        $(document).ready(function() {
            var url = "{% if chart == "accounts" %}{% url "categories:tag_chart_statistics_accounts" tag.slug %}{% else %}{% url "categories:tag_chart_statistics_categories" tag.slug %}{% endif %}{% if year %}?year={{ year }}{% endif %}";
            statistics(url, "chart");
        });
    </script>
{% endif %}
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li><a href="{% url "categories:tags" %}">{% trans "Tags" %}</a></li>
<li><a href="{% url "categories:tag" tag.slug %}">{{ tag.name }}</a></li>
{% if chart %}
    <li><a href="{% url "categories:tag_statistics" tag.slug %}">{% trans "Statistics" %}</a></li>
    {% if year %}
        <li><a href="{% url "categories:tag_statistics" tag.slug %}?chart={{ chart }}">{{ chart_name }}</a></li>
        <li class="active">{{ year }}</li>
    {% else %}
        <li class="active">{{ chart_name }}</li>
    {% endif %}
{% else %}
    <li class="active">{% trans "Statistics" %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            {% trans "Statistics" %}
            {% if chart %}
                <small>
                    {{ chart_name }}
                    {% if year %}| {{ year }}{% endif %}
                </small>
            {% endif %}
        </h1>
    </div>
    <div class="panel-body">
        {% if not chart %}
            <div class="btn-group" style="margin-left: 5px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans "Select a chart" %} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url "categories:tag_statistics" tag.slug %}?chart=accounts">{% trans "Accounts" %}</a></li>
                    <li><a href="{% url "categories:tag_statistics" tag.slug %}?chart=categories">{% trans "Categories" %}</a></li>
                </ul>
            </div>
        {% endif %}
        {% if years %}
            <div class="btn-group" style="margin-left: 5px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans "Select a year" %} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    {% for year in years %}
                        <li><a href="{% url "categories:tag_statistics" tag.slug %}?chart={{ chart }}&amp;year={{ year }}">{{ year }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if chart == "accounts" or chart == "categories" %}
            <div id="chart" style="min-width: 310px; height: 770px;"></div>
        {% endif %}
    </div>
</div>
{% endblock %}
