{% extends "ledger/base.html" %}
{% load i18n static %}


{% block extrahead %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/categories/tags.js" %}"></script>
{% if chart == "accounts" or chart == "categories" %}
    <script type="text/javascript">
        $(document).ready(function() {
            var url = "{% if chart == "accounts" %}{% url "categories:tag_chart_statistics_accounts" tag.slug %}{% else %}{% url "categories:tag_chart_statistics_categories" tag.slug %}{% endif %}{% if year %}?year={{ year }}{% endif %}";
            statistics(url, "chart");
        });
    </script>
{% endif %}
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "categories:tags" %}">{% trans "Tags" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "categories:tag" tag.slug %}">{{ tag.name }}</a></li>
{% if chart %}
    <li class="breadcrumb-item"><a href="{% url "categories:tag_statistics" tag.slug %}">{% trans "Statistics" %}</a></li>
    {% if year %}
        <li class="breadcrumb-item"><a href="{% url "categories:tag_statistics" tag.slug %}?chart={{ chart }}">{{ chart_name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ year }}</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ chart_name }}</li>
    {% endif %}
{% else %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Statistics" %}</li>
{% endif %}
{% endblock %}


{% block content %}
{% if not chart %}
    <div class="row">
        <div class="col-md-2">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownCharts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Select a chart" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownCharts">
                    <a class="dropdown-item" href="{% url "categories:tag_statistics" tag.slug %}?chart=accounts">{% trans "Accounts" %}</a>
                    <a class="dropdown-item" href="{% url "categories:tag_statistics" tag.slug %}?chart=categories">{% trans "Categories" %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md-2">
{% elif years %}
    <div class="row">
        <div class="col-md-2">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownYears" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Select a year" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownYears">
                    {% for year in years %}
                        <a class="dropdown-item" href="{% url "categories:tag_statistics" tag.slug %}?chart={{ chart }}&amp;year={{ year }}">{{ year }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md-2">
{% else %}
    <div class="row">
{% endif %}
    <div class="col-md-12">
        <div id="chart" style="min-width: 310px; height: 800px;"></div>
    </div>
</div>
{% endblock %}
