{% load accounts i18n %}


<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>{% trans "Account" %}</th>
                <th>{% trans "Closed" %}</th>
                <th>{% trans "Balance" %}</th>
                <th>{% trans "Outstanding" %}</th>
                <th>{% trans "Number of statements" %}</th>
                <th>{% trans "Number of entries" %}</th>
                <th>{% trans "Last entry" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <th><a href="{% url "accounts:account" account.slug %}">{{ account.name }}</a></th>
                    <td class="text-center">
                        {% if account.closed %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td class="text-right">{{ account|balance }}</td>
                    <td class="text-right">{{ account|outstanding }}</td>
                    <td class="text-right">{{ account.statements.count }}</td>
                    <td class="text-right">{{ account.entries.count }}</td>
                    <td>{{ account.entries.last.day|date:"l, d. F Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
