{% extends 'base.html' %}
{% load i18n %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li><a href="{% url 'units' %}">{% trans 'units' %}</a></li>
<li class="active">{% trans 'add unit' %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="page-header">{% trans 'add unit' %}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {% url 'unit_add' as form_url %}
        {% include 'partials/_form.html' with form_url=form_url %}
    </div>
</div>
{% endblock%}
