{% extends 'base.html' %}
{% load i18n %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li><a href="{% url 'units' %}">{% trans 'units' %}</a></li>
<li><a href="{% url 'unit' unit.slug %}">{{ unit.name|lower }}</a></li>
<li class="active">{% trans 'edit' %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans 'edit' %} {{ unit.name|lower }}</h1>
            </div>
            <div class="panel-body">
                {% url 'unit_edit' unit.slug as form_url %}
                {% include 'partials/_form.html' with form_url=form_url %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
