{% extends "ledger/base.html" %}
{% load accounts bootstrap i18n %}


{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_category").select2({
            placeholder: "{% trans "Select a category" %}",
            allowClear: true,
            ajax: {
                url: "{% url "categories:category_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.categories }
                }
            }
        });
        $("#id_unit").select2({
            placeholder: "{% trans "Select a unit" %}",
            allowClear: true,
            ajax: {
                url: "{% url "units:unit_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.units }
                }
            }
        });
        $(".ajax-popup-link").magnificPopup({
            type: "iframe"
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li><a href="{% url "accounts:accounts" %}">{% trans "Accounts" %}</a></li>
{% if account %}
    <li><a href="{% url "accounts:account" account.slug %}">{{ account.name }}</a></li>
    <li class="active">{% trans "Edit" %}</li>
{% else %}
    <li class="active">{% trans "Add account" %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {% if account %}
                        {% trans "Edit account" %}
                    {% else %}
                        {% trans "Add account" %}
                    {% endif %}
                </h1>
            </div>
            <div class="panel-body">
                {% if account %}
                    {% url "accounts:account_edit" account.slug as form_url %}
                {% else %}
                    {% url "accounts:account_add" as form_url %}
                {% endif %}
                {% bootstrap_form form=form url=form_url %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
