{% extends "ledger/base.html" %}
{% load accounts i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Accounts" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="float-right">
            <a href="{% url "accounts:account_add" %}" class="btn btn-primary" role="button">{% trans "Add account" %}</a>
        </div>
    </div>
</div>
<div class="row mt-md-2">
    <div class="col-md-12">
        {% if accounts %}
            {% include "accounts/account/partials/_table.html" %}
        {% else %}
            <p>{% trans "There are no accounts available." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
