{% extends "ledger/base.html" %}
{% load accounts ledger i18n static %}


{% block extrahead %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/accounts/statistics.js" %}"></script>
{% if chart %}
    <script type="text/javascript">
        var url = "{% if chart == "categories" %}{% url "accounts:account_chart_categories_statistics" account.slug %}{% endif %}{% if chart == "tags" %}{% url "accounts:account_chart_tags_statistics" account.slug %}{% endif %}?{% if year %}year={{ year }}{% endif %}{% if month %}&month={{ month }}{% endif %}{% if category %}&category={{ category.slug }}{% endif %}{% if tag %}&tag={{ tag.slug }}{% endif %}";
        statistics(url, "chart");
    </script>
{% endif %}
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li><a href="{% url "accounts:accounts" %}">{% trans "Accounts" %}</a></li>
<li><a href="{% url "accounts:account" account.slug %}">{{ account.name }}</a></li>
{% if chart %}
    <li><a href="{% url "accounts:account_statistics" account.slug %}">{% trans "Statistics" %}</a></li>
    {% if year %}
        <li><a href="{% url "accounts:account_statistics" account.slug %}?chart={{ chart }}">{{ chart_name }}</a></li>
        {% if month %}
            <li><a href="{% url "accounts:account_statistics" account.slug %}?chart={{ chart }}&amp;year={{ year }}">{{ year }}</a></li>
            {% if category and not tag %}
                <li><a href="{% url "accounts:account_statistics" account.slug %}?chart={{ chart }}&amp;year={{ year }}&amp;month={{ month }}">{% trans month_name %}</a></li>
                <li class="active">{{ category.name }}</a></li>
            {% endif %}
            {% if not category and tag %}
                <li><a href="{% url "accounts:account_statistics" account.slug %}?chart={{ chart }}&amp;year={{ year }}&amp;month={{ month }}">{% trans month_name %}</a></li>
                <li class="active">{{ tag.name }}</a></li>
            {% endif %}
            {% if not category and not tag %}
                <li class="active">{% trans month_name %}</li>
            {% endif %}
        {% else %}
            <li class="active">{{ year }}</li>
        {% endif %}
    {% else %}
        <li class="active">{{ chart_name }}</li>
    {% endif %}
{% else %}
    <li class="active">{% trans "Statistics" %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            {% trans "Statistics" %}
            {% if chart %}
                <small>
                    {{ chart_name }}
                    {% if year %}
                        | {{ year }}
                        {% if month %}
                            | {% trans month_name %}
                            {% if category and not tag %}
                                | {{ category.name }}
                            {% endif %}
                            {% if tag %}
                                | {{ tag.name }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </small>
            {% endif %}
        </h1>
    </div>
    <div class="panel-body">
        {% if options %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ option_msg }} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    {% for option in options %}
                        <li><a href="{% url "accounts:account_statistics" account.slug %}?{% if chart %}chart={{ chart }}&amp;{% endif %}{% if year %}year={{ year }}&amp;{% endif %}{% if month %}month={{ month }}&amp;{% endif %}{{ option|get_item:"key" }}={{ option|get_item:"id" }}">{{ option|get_item:"value" }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if chart %}<div id="chart" style="min-width: 310px; height: 800px;"></div>{% endif %}
    </div>
</div>
{% endblock %}
