{% extends 'ledger/base.html' %}
{% load accounts ledger i18n static %}


{% block extrahead %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/charts/accounts/accounts/statistics.js' %}"></script>
{% if chart %}
    <script type="text/javascript">
        var url = "{% if chart == 'categories' %}{% url 'accounts:account_chart_categories_statistics' account.slug %}{% endif %}{% if chart == 'tags' %}{% url 'accounts:account_chart_tags_statistics' account.slug %}{% endif %}?{% if year %}year={{ year }}{% endif %}{% if month %}&month={{ month }}{% endif %}{% if category %}&category={{ category.slug }}{% endif %}{% if tag %}&tag={{ tag.slug }}{% endif %}";
        statistics(url, 'chart');
    </script>
{% endif %}
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li><a href="{% url 'accounts:accounts' %}">{% trans 'accounts' %}</a></li>
<li><a href="{% url 'accounts:account' account.slug %}">{{ account.name|lower }}</a></li>
{% if chart %}
    <li><a href="{% url 'accounts:account_statistics' account.slug %}">{% trans 'statistics' %}</a></li>
    {% if year %}
        <li><a href="{% url 'accounts:account_statistics' account.slug %}?chart={{ chart }}">{% trans chart %}</a></li>
        {% if month %}
            <li><a href="{% url 'accounts:account_statistics' account.slug %}?chart={{ chart }}&amp;year={{ year }}">{{ year }}</a></li>
            {% if category and not tag %}
                <li><a href="{% url 'accounts:account_statistics' account.slug %}?chart={{ chart }}&amp;year={{ year }}&amp;month={{ month }}">{% trans month_name %}</a></li>
                <li class="active">{{ category.name|lower }}</a></li>
            {% endif %}
            {% if not category and tag %}
                <li><a href="{% url 'accounts:account_statistics' account.slug %}?chart={{ chart }}&amp;year={{ year }}&amp;month={{ month }}">{% trans month_name %}</a></li>
                <li class="active">{{ tag.name|lower }}</a></li>
            {% endif %}
            {% if not category and not tag %}
                <li class="active">{% trans month_name %}</li>
            {% endif %}
        {% else %}
            <li class="active">{{ year }}</li>
        {% endif %}
    {% else %}
        <li class="active">{% trans chart %}</li>
    {% endif %}
{% else %}
    <li class="active">{% trans 'statistics' %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            {% trans 'statistics' %}
            {% if chart %}
                <small>
                    {% trans chart %}
                    {% if year %}
                        | {{ year }}
                        {% if month %}
                            | {% trans month_name %}
                            {% if category and not tag %}
                                | {{ category.name|lower }}
                            {% endif %}
                            {% if tag %}
                                | {{ tag.name|lower }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </small>
            {% endif %}
        </h1>
    </div>
    <div class="panel-body">
        {% if options %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% blocktrans with option_name=option_name %}select a {{ option_name }}{% endblocktrans %} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    {% for option in options %}
                        <li><a href="{% url 'accounts:account_statistics' account.slug %}?{% if chart %}chart={{ chart }}&amp;{% endif %}{% if year %}year={{ year }}&amp;{% endif %}{% if month %}month={{ month }}&amp;{% endif %}{{ option|get_item:'key' }}={{ option|get_item:'id' }}">{{ option|get_item:'value' }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if chart %}<div id="chart" style="min-width: 310px; height: 800px;"></div>{% endif %}
    </div>
</div>
{% endblock %}
