{% extends "ledger/base.html" %}
{% load i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "accounts:accounts" %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item">
    <a href="{% url "accounts:account" account.slug %}">
        {{ account.name }}
        {% if account.closed %}<small>{% trans "Closed" %}</small>{% endif %}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Statements" %}</li>
{% endblock %}


{% block content %}
<div class="row">
   <div class="col-md-2 offset-md-10 text-right">
       <a class="btn btn-primary" href="{% url "files:add" content_type.pk account.pk %}?a={% if account %}t{% else %}f{% endif %}" role="button">
            <span class="glyphicon glyphicon-upload"></span>
            {% trans "Upload file" %}
        </a>
   </div>
</div>
<div class="row mt-md-2">
    <div class="col-md-12">
        {% include "files/file/partials/_table.html" with files=statements options=True %}
    </div>
</div>
{% endblock %}
