{% extends "ledger/base.html" %}
{% load accounts ledger i18n static %}


{% block extrahead %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/accounts/statistics.js" %}"></script>
{% if chart %}
    <script type="text/javascript">
        var url = "{% if chart == "categories" %}{% url "accounts:account_chart_categories_statistics" account.slug %}{% endif %}{% if chart == "tags" %}{% url "accounts:account_chart_tags_statistics" account.slug %}{% endif %}?{% if year %}year={{ year }}{% endif %}{% if month %}&month={{ month }}{% endif %}{% if category %}&category={{ category.slug }}{% endif %}{% if tag %}&tag={{ tag.slug }}{% endif %}";
        statistics(url, "chart");
    </script>
{% endif %}
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "accounts:accounts" %}">{% trans "Accounts" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "accounts:account" account.slug %}">{{ account.name }}{% if account.closed %} <small>{% trans "Closed" %}</small>{% endif %}</a></li>
{% if chart %}
    <li class="breadcrumb-item"><a href="{% url "accounts:account_statistics" account.slug %}">{% trans "Statistics" %}</a></li>
    {% if year %}
        <li class="breadcrumb-item"><a href="{% url "accounts:account_statistics" account.slug %}?chart={{ chart }}">{{ chart_name }}</a></li>
        {% if month %}
            <li class="breadcrumb-item"><a href="{% url "accounts:account_statistics" account.slug %}?chart={{ chart }}&amp;year={{ year }}">{{ year }}</a></li>
            {% if category and not tag %}
                <li class="breadcrumb-item"><a href="{% url "accounts:account_statistics" account.slug %}?chart={{ chart }}&amp;year={{ year }}&amp;month={{ month }}">{% trans month_name %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</a></li>
            {% endif %}
            {% if not category and tag %}
                <li class="breadcrumb-item"><a href="{% url "accounts:account_statistics" account.slug %}?chart={{ chart }}&amp;year={{ year }}&amp;month={{ month }}">{% trans month_name %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ tag.name }}</a></li>
            {% endif %}
            {% if not category and not tag %}
                <li class="breadcrumb-item active" aria-current="page">{% trans month_name %}</li>
            {% endif %}
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">{{ year }}</li>
        {% endif %}
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ chart_name }}</li>
    {% endif %}
{% else %}
    <li class="breadcrumb-item active" aria-current="page">{% trans "Statistics" %}</li>
{% endif %}
{% endblock %}


{% block content %}
{% if options %}
    <div class="row">
        <div class="col-md-2">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ option_msg }}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownOptions">
                    {% for option in options %}
                        <a class="dropdown-item" href="{% url "accounts:account_statistics" account.slug %}?{% if chart %}chart={{ chart }}&amp;{% endif %}{% if year %}year={{ year }}&amp;{% endif %}{% if month %}month={{ month }}&amp;{% endif %}{{ option|get_item:"key" }}={{ option|get_item:"id" }}">{{ option|get_item:"value" }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md-2">
{% else %}
    <div class="row">
{% endif %}
    <div class="col-md-12">
        {% if chart %}<div id="chart" style="min-width: 310px; height: 800px;"></div>{% endif %}
    </div>
</div>
{% endblock %}
