{% extends "ledger/base.html" %}
{% load i18n %}


{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li><a href="{% url "users:profile" %}">{% trans "Profile" %}</a></li>
<li class="active">{% trans "Password change" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-success">{% trans "Your password was changed successfully." %}</div>
    </div>
</div>
{% endblock %}
