{% extends "ledger/base.html" %}
{% load i18n %}


{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li><a href="{% url "users:profile" %}">{% trans "Profile" %}</a></li>
<li class="active">{% trans "Signed out" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans "Signed out" %}</h1>
            </div>
            <div class="panel-body">
                <p>{% trans "Thanks for spending some quality time with ledger today." %}</p>
                <p><a href="{% url "users:signin" %}"><span class="glyphicon glyphicon-log-in"></span> {% trans "Sign in again" %}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
