{% extends "ledger/base.html" %}
{% load bootstrap i18n %}


{% block content %}
<div class="row mt-md-5">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center">ledger</h1>
    </div>
</div>
<div class="row mt-md-5">
    <div class="col-md-2 offset-md-5">
        {% trans "Sign in" as sign_in_trans %}
        {% bootstrap_form form=form type="vertical" url="?next="|add:gnext submit_title=sign_in_trans %}
        <script type="text/javascript">
            $("#id_username").focus();
        </script>
    </div>
</div>
{% endblock %}
