{% extends "ledger/base.html" %}
{% load bootstrap i18n %}


{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_income_tags").select2({
            placeholder: "{% trans "Select a tag" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_consumption_tags").select2({
            placeholder: "{% trans "Select a tag" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_insurance_tags").select2({
            placeholder: "{% trans "Select a tag" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        $("#id_savings_tags").select2({
            placeholder: "{% trans "Select a tag" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "users:budget_detail" %}">{% trans "Budget" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Edit" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        {% trans "Save" as save_trans %}
        {% bootstrap_form form=form btn_title=save_trans %}
    </div>
</div>
{% endblock%}
