{% extends "ledger/base.html" %}
{% load i18n ledger static %}

{% block extrahead %}
<script type="text/javascript" src="{% static "js/highcharts.js" %}"></script>
<script type="text/javascript" src="{% static "js/highcharts/modules/data.js" %}"></script>
<script type="text/javascript" src="{% static "js/highcharts/modules/drilldown.js" %}"></script>
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Budget" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-11">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
            <div class="btn-group mr-2" role="group" aria-label="Years">
                {% for y in years %}
                    <a class="btn btn-outline-secondary{% if year == y %} active{% endif %}" href="{% url "users:budget_detail" y %}" role="button">{{ y }}</a>
                {% endfor %}
            </div>
            <div class="btn-group btn-toggle mr-2" role="group" aria-label="Chart/Table toggle">
                <a class="btn btn btn-outline-primary active" data-target="#toggleView" role="button">{% trans "Chart" %}</a>
                <a class="btn btn btn-outline-secondary" data-target="#toggleView" role="button">{% trans "Table" %}</a>
            </div>
        </div>
        <script type="text/javascript">
            $("a[data-target='#toggleView']").click(function(e) {
                e.preventDefault();
                $("#table").toggle();
                $("#chart_container").toggle();
            });
        </script>
    </div>
    <div class="col-md-1 text-right">
        <a href="{% url "users:budget_edit" %}" class="btn btn-primary" role="button">{% trans "Edit budget" %}</a>
    </div>
</div>
<div class="row mt-md-2">
    <div class="col">
        <div id="chart_container">
            {% if units|length > 1 %}
                <div class="row">
                    <div class="col-md-2 offset-md-5">
                        <div class="btn-group btn-toggle" role="group">
                            {% for unit in units %}
                                <a class="btn {% if forloop.counter == 1 %}btn-primary active{% else %}btn-secondary{% endif %}" data-target="#toggleChart" role="button">{{ unit.name }}</a>
                            {% endfor %}
                        </div>
                        <script type="text/javascript">
                            $("a[data-target='#toggleChart']").click(function(e) {
                                e.preventDefault();
                                {% for unit in units %}
                                    $("#container_monthly_{{ unit.id }}").toggle();
                                    $("#container_yearly_{{ unit.id }}").toggle();
                                    if ( $("#container_monthly_{{ unit.id }}").is(":visible") ) {
                                        pie("container_monthly_{{ unit.id }}", {{ series_monthly|get_item:unit.id|safe }}, {{ drilldown_monthly|get_item:unit.id|safe }}, "{% trans "Monthly" %}");
                                        pie("container_yearly_{{ unit.id }}", {{ series_yearly|get_item:unit.id|safe }}, {{ drilldown_yearly|get_item:unit.id|safe }}, "{% trans "Yearly" %}");
                                    }
                                {% endfor %}
                            });

                            function pie(id, series, drilldown, title) {
                                Highcharts.chart(id, {
                                    chart: {
                                        type: "pie"
                                    },
                                    title: {
                                        text: title
                                    },
                                    series: series,
                                    drilldown: drilldown
                                });
                            }

                            {% for unit in units %}
                                $(function() {
                                    {% if forloop.counter == 1 %}
                                        pie("container_monthly_{{ unit.id }}", {{ series_monthly|get_item:unit.id|safe }}, {{ drilldown_monthly|get_item:unit.id|safe }}, "{% trans "Monthly" %}");
                                        pie("container_yearly_{{ unit.id }}", {{ series_yearly|get_item:unit.id|safe }}, {{ drilldown_yearly|get_item:unit.id|safe }}, "{% trans "Yearly" %}");
                                    {% else %}
                                        $("#container_monthly_{{ unit.id }}").toggle();
                                        $("#container_yearly_{{ unit.id }}").toggle();
                                    {% endif %}
                                });
                            {% endfor %}
                        </script>
                    </div>
                </div>
                <div class="row mt-md-2">
                    <div class="col">
                        <div class="text-center">
                            {% for unit in units %}
                                <div id="container_monthly_{{ unit.id }}" style="display: inline-block; height: 600px;"></div>
                                <div id="container_yearly_{{ unit.id }}" style="display: inline-block; height: 600px;"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row mt-md-2">
                    <div class="col">
                        <div class="text-center">
                            <div id="container_monthly" style="display: inline-block; height: 600px;"></div>
                            <div id="container_yearly" style="display: inline-block; height: 600px;"></div>
                        </div>
                        <script type="text/javascript">
                            Highcharts.chart("container_monthly", {
                                chart: {
                                    type: "pie"
                                },
                                title: {
                                    text: "{% trans "Monthly" %}"
                                },
                                series: {{ series_monthly|safe }},
                                drilldown: {{ drilldown_monthly|safe }}
                            });
                            Highcharts.chart("container_yearly", {
                                chart: {
                                    type: "pie"
                                },
                                title: {
                                    text: "{% trans "Yearly" %}"
                                },
                                series: {{ series_yearly|safe }},
                                drilldown: {{ drilldown_yearly|safe }}
                            });
                        </script>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="table" class="table-responsive" style="display: none;">
            <table class="table table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th colspan="3">{% trans "Income" %}</th>
                        <th colspan="3">{% trans "Consumption" %}</th>
                        <th colspan="3">{% trans "Insurance" %}</th>
                        <th colspan="3">{% trans "Savings" %}</th>
                    </tr>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Monthly" %}</th>
                        <th>{% trans "Yearly" %}</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Monthly" %}</th>
                        <th>{% trans "Yearly" %}</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Monthly" %}</th>
                        <th>{% trans "Yearly" %}</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Monthly" %}</th>
                        <th>{% trans "Yearly" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                        <tr>
                            {% for cell in row %}
                                {% if forloop.counter0|divisibleby:3 %}
                                    <th>{% if cell|length == 2 %}<a href="{% url "accounts:entry_list" %}?tags={{ cell|get_item:0 }}">{{ cell|get_item:1 }}</a>{% else %}{{ cell }}{% endif %}</th>
                                {% else %}
                                    <td class="text-right">{{ cell }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% for row in footer %}
                        <tr>
                            {% for cell in row %}
                                {% if forloop.counter0|divisibleby:3 %}
                                    <th>{{ cell }}</th>
                                {% else %}
                                    <td class="text-right">{{ cell }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}
