{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumbs %}
<li class="active"><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li class="active">{% trans 'profile' %}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans 'profile' %}</h1>
            </div>
            <div class="panel-body">
                {% url 'profile' as form_url %}
                {% include 'partials/_form.html' with form_url=form_url %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
