{% extends 'ledger/base.html' %}
{% load ledger i18n static %}


{% block extrahead %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/users/statistics.js' %}"></script>
{% if unit_slug and chart %}
    <script type="text/javascript">
        $(document).ready(function() {
            var url = "{% if chart == 'categories' %}{% url 'users:statistics_chart_categories' %}{% endif %}{% if chart == 'tags' %}{% url 'users:statistics_chart_tags' %}{% endif %}?unit={{ unit_slug }}{% if year %}&year={{ year }}{% endif %}{% if month %}&month={{ month }}{% endif %}";
            statistics(url, chart);
        });
    </script>
{% endif %}
{% endblock %}


users:{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
{% if unit_slug %}
    <li><a href="{% url 'users:statistics' %}">{% trans 'statistics' %}</a></li>
    {% if chart %}
        <li><a href="{% url 'users:statistics' %}?unit={{ unit_slug }}">{{ unit.name|lower }}</a></li>
        {% if year %}
            <li><a href="{% url 'users:statistics' %}?unit={{ unit_slug }}&amp;chart={{ chart }}">{% trans chart %}</a></li>
            {% if month %}
                <li><a href="{% url 'users:statistics' %}?unit={{ unit_slug }}&amp;chart={{ chart }}&amp;year={{ year }}">{{ year }}</a></li>
                <li class="active">{% trans month_name %}</li>
            {% else %}
                <li class="active">{{ year }}</li>
            {% endif %}
        {% else %}
            <li class="active">{% trans chart %}</li>
        {% endif %}
    {% else %}
        <li class="active">{{ unit.name|lower }}</li>
    {% endif %}
{% else %}
    <li class="active">{% trans 'statistics' %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            {% trans 'statistics' %}
            {% if unit_slug %}
                <small>
                    {{ unit.name|lower }}
                    {% if chart %}
                        | {% trans chart %}
                        {% if year %}
                            | {{ year }}
                            {% if month %}
                                | {% trans month_name %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </small>
            {% endif %}
        </h1>
    </div>
    <div class="panel-body">
        {% if options %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans 'select a' %} {{ option_name }} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    {% for option in options %}
                        <li><a href="{% url 'users:statistics' %}?{% if unit_slug %}unit={{ unit_slug }}&amp;{% endif %}{% if chart %}chart={{ chart }}&amp;{% endif %}{% if year %}year={{ year }}&amp;{% endif %}{{ option|get_item:'key' }}={{ option|get_item:'id' }}">{{ option|get_item:'value' }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if unit_slug and chart %}
            <div id="chart" style="min-width: 310px; height: 800px;"></div>
        {% endif %}
    </div>
</div>
{% endblock %}
