{% load admin_urls bootstrap3 static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="{% static 'images/logo.png' %}"/>
		{% bootstrap_css %}
		<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/ledger.css' %}"/>
		{% bootstrap_javascript jquery=1 %}
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		{% include 'autocomplete_light/static.html' %}
		<title>{% block title %}ledger{% endblock %}</title>
		{% block extrahead %}{% endblock %}
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<ol class="breadcrumb">
					{% block breadcrumbs %}{% endblock %}
					{% block option_menu %}
						<div style="float: right;">
							{% if user.is_authenticated %}
								welcome, <b> {{ user }}</b>.
								{% if user.is_staff %}
									| <a href="{% url 'admin:index' %}">admin</a>
								{% endif %}
								| <a href="{% url 'password_change' %}">change password</a>
								| <a clas="btn btn-xs" href="{% url 'logout' %}">logout</a>
							{% endif %}
						</div>
					{% endblock %}
				</ol>
			</div>
			<div class="row"><div class="col-md-6 col-md-offset-3">{% bootstrap_messages %}</div></div>
			<div class="row">
				<div class="col-md-12">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>