{% load admin_urls bootstrap i18n ledger static %}

<html lang="{{ LANGUAGE_CODE|default:"en" }}" itemscope itemtype="http://schema.org/{% block schema %}WebSite{% endblock %}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}"/>
        <link rel="stylesheet" media="all" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" media="all" href="{% static 'css/bootstrap-theme.min.css' %}"/>
        <link rel="stylesheet" media="all" href="{% static 'css/jquery-ui.min.css' %}"/>
        <link rel="stylesheet" media="all" href="{% static 'css/jquery-ui.structure.min.css' %}"/>
        <link rel="stylesheet" media="all" href="{% static 'css/jquery-ui.theme.min.css' %}"/>
        <link rel="stylesheet" media="all" href="{% static 'css/select2.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/ledger.css' %}"/>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
        <title>{% block title %}ledger{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ledger-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'dashboard' %}">
                        <img alt="Brand" src="{% static "images/logo.png" %}" style="margin-top: -5px; height: 30px; display: inline-block;"/>ledger
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="ledger-navbar-collapse">
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav">
                            {% url 'accounts' as accounts_url %}
                            {% url 'entries' as entries_url %}
                            <li class="dropdown{% if request.path|startswith:entries_url or request.path|startswith:accounts_url %} active{% endif %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" haspopup="true" aria-expanded="false">accounts {% if request.path|startswith:entries_url or request.path|startswith:accounts_url %} <span class="sr-only">(current)</span>{% endif %} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for account in user.ledger.accounts.all %}
                                        <li><a href="{% url 'account' account.slug %}">{{ account|lower }}</a></li>
                                    {% endfor %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'account_add' %}"><span class="glyphicon glyphicon-plus"></span> add account</a></li>
                                </ul>
                            </li>
                            {% url 'categories' as categories_url %}
                            <li {% if request.path|startswith:categories_url %}class="active"{% endif %}><a href="{% url 'categories' %}">categories{% if request.path|startswith:categories_url %} <span class="sr-only">(current)</span>{% endif %}</a></li>
                            {% url 'tags' as tags_url %}
                            <li {% if request.path|startswith:tags_url %} class="active"{% endif %}><a href="{% url 'tags' %}">tags{% if request.path|startswith:tags_url %} <span class="sr-only">(current)</span>{% endif %}</a></li>
                            {% url 'budget' as budget_url %}
                            <li {% if request.path|startswith:budget_url %}class="active"{% endif %}><a href="{% url 'budget' %}">budget{% if request.path|startswith:budget_url %} <span class="sr-only">(current)</span>{% endif %}</a></li>
                            {% url 'statistics' as statistics_url %}
                            <li {% if request.path|startswith:statistics_url %}class="active"{% endif %}><a href="{% url 'statistics' %}">statistics{% if request.path|startswith:statistics_url %} <span class="sr-only">(current)</span>{% endif %}</a></li>
                        </ul>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><b>{{ user }}</b> <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'profile' %}">profile</a></li>
                                    {% if user.is_staff %}
                                        <li><a href="{% url 'admin:index' %}">admin</a></li>
                                    {% endif %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'signout' %}">sign out</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <div class="nav navbar-right" style="margin-right:3px;">
                            <a href="{% url 'signup' %}" class="btn btn-success navbar-btn" role="button">sign up</a>
                            <a href="{% url 'signin' %}" class="btn btn-default navbar-btn" role="button">sign in</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ol class="breadcrumb">
                        {% block breadcrumbs %}{% endblock %}
                    </ol>
                    {% messages %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
