{% extends "ledger/base.html" %}
{% load accounts bootstrap i18n ledger static %}


{% block extrahead %}
<link rel="stylesheet" media="all" href="{% static "css/magnific-popup.css" %}"/>
<script type="text/javascript" src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $("#id_start_date").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $("#id_end_date").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        {% if not account %}
            $("#id_accounts").select2({
                placeholder: "{% trans "Accounts" %}",
                ajax: {
                    url: "{% url "accounts:account_autocomplete" %}",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return { q: params.term };
                    },
                    processResults: function (data, params) {
                        return { results: data.accounts }
                    }
                }
            });
        {% endif %}
        $("#id_categories").select2({
            placeholder: "{% trans "Categories" %}",
            ajax: {
                url: "{% url "categories:category_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.categories }
                }
            }
        });
        $("#id_tags").select2({
            placeholder: "{% trans "Tags" %}",
            ajax: {
                url: "{% url "categories:tag_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tags }
                }
            }
        });
        {% if not account %}
            $("#id_units").select2({
                placeholder: "{% trans "Units" %}",
                ajax: {
                    url: "{% url "units:unit_autocomplete" %}",
                    dataType: "json",
                    delay: 250,
                    data: function (params) {
                        return { q: params.term };
                    },
                    processResults: function (data, params) {
                        return { results: data.units }
                    }
                }
            });
        {% endif %}
        $(".ajax-popup-link").magnificPopup({
            type: "iframe"
        });
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
{% if account %}
    <li class="breadcrumb-item"><a href="{% url "accounts:accounts" %}">{% trans "Accounts" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url "accounts:account" account.slug %}">{{ account.name }}{% if account.closed %} <small>{% trans "Closed" %}</small>{% endif %}</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">{% trans "Entries" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-3">
        <ul class="list-inline">
            <li class="list-inline-item align-top"><b>{% trans "Balance" %}:</b></li>
            <li class="list-inline-item">{% balance entry_list %}</li>
        </ul>
    </div>
    <div class="col-md-6 text-center">
        {% if account %}
            {% url "accounts:account_entries" account.slug as form_url %}
        {% else %}
            {% url "accounts:entries" as form_url %}
        {% endif %}
        {% trans "Filter" as filter_trans %}
        {% bootstrap_form form=form url=form_url type="inline" labels=False btn_title=filter_trans %}
    </div>
   <div class="col-md-3 text-right">
        {% if show_options %}
            <a class="btn btn-primary" href="{% if account %}{% url "accounts:account_entry_add" account.slug %}{% else %}{% url "accounts:entry_add" %}{% endif %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add entry" %}</a>
            <a class="btn btn-primary" href="{% if account %}{% url "accounts:account_standing_entry_add" account.slug %}{% else %}{% url "accounts:standing_entry_add" %}{% endif %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add standing entry" %}</a>
        {% endif %}
    </div>
</div>
{% include "accounts/entry/partials/_table.html" with account=account entries=entries options=show_options %}
{% trans "Entries" as pagination_title %}
{% pagination paginator entries pagination_title %}
{% endblock %}
