{% extends "ledger/base.html" %}
{% load static accounts %}

{% block extrahead %}
<script src="{% static 'js/highcharts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-10"><h1>{{ category.name|lower }}</h1></div>
	<div class="col-md-2">
		<h1>
			<a href="{% url 'category_edit' category.slug  %}" class="btn btn-primary" role="button"><i class="ui-icon ui-icon-white ui-icon-pencil" style="float:left;margin-top:2px;"></i>edit</a>
			<a href="{% url 'category_delete' category.slug  %}" class="btn btn-danger" role="button"><i class="ui-icon ui-icon-white ui-icon-trash" style="float:left;margin-top:2px;"></i>delete</a>
		</h1>
	</div>
</div>
<div class="shape fullshape">
	<div class="title">{{ category.name|lower }}</div>
	<div class="content">
		<div class="entries">
			<div class="row">
				<div class="col-md-2">
					<b>total:</b> {% for unit, total in totals.items %}{{ total|colorfy:unit }}{% if not forloop.last %}, {% endif %}{% endfor %}
				</div>
			</div>
		</div>
		{% if monthly_data %}
			{% column_chart monthly_data with library=ml %}
		{% endif %}
		{% if yearly_data %}
			{% column_chart yearly_data with library=yl %}
		{% endif %}
	</div>
</div>
<div class="shape fullshape" style="margin-top: 15px;">
	<div class="title"><a href="{% url 'category_entries' category.slug %}">entries</a></div>
	<div class="content">
		<div class="entries">
			{% include "ledger/accounts/category/partials/_table.html" with entries=entries options=False %}
		</div>
	</div>
</div>
{% endblock %}