{% extends "ledger/base.html" %}
{% load accounts_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">dashboard</a><span class="divider"></span></li>
<li class="active">categories</li>
{% endblock %}

{% block content %}
<div class="shape category">
	<div class="title"><a href="{% url 'categories' %}">categories</a></div>
	<div class="content">
		<div class="entries">
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>category</th>
						<th>entries</th>
					</tr>
				</thead>
				<tbody>
					{% for category in categories %}
						<tr>
							<td><a href="{% url 'category' category.slug %}">{{ category.name|lower }}</a></td>
							<td>{{ category.entry_set.count }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}