{% extends "ledger/base.html" %}
{% load accounts %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">dashboard</a></li>
<li><a href="{% url 'categories' %}">categories</a></li>
<li><a href="{% url 'category' category.slug %}">{{ category.name|lower }}</a></li>
<li class="active">entries</li>
{% endblock %}

{% block content %}
<div class="shape fullshape">
	<div class="title">entries</div>
	<div class="content">
		<div class="entries">
			<div class="row">
				<div class="col-md-3"><b>total:</b> {% for unit, total in totals.items %}{{ total|colorfy:unit }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
			</div>
			<div class="row" style="margin-top: 10px;">
				<div class="col-md-12">
					{% include "ledger/accounts/category/partials/_table.html" with entries=entries options=True %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}