{% extends "ledger/base.html" %}
{% load accounts ledger %}

{% block content %}
<script>
    $(function() {
        $('#id_start_date').datepicker({
            dateFormat:'yy-mm-dd',
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $('#id_end_date').datepicker({
            dateFormat:'yy-mm-dd',
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
    });
</script>
{{ form.media }}

<h1 class="page-header">
    <a href="{% url 'category' category.slug %}">{{ category|lower }}</a>
    <small>entries</small>
</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4"><h5><b>total:</b> {% for unit, total in totals.items %}{{ total|colorfy:unit }}{% if not forloop.last %}, {% endif %}{% endfor %}</h5></div>
            <div class="col-md-8">
                <form method="post" class="form-inline">
                    {% csrf_token %}

                    {% for field in form %}
                        {% if field.label != 'Categories' %}
                            <div class="form-group{% if form.errors %} {{ field.errors|yesno:'has-error,has-success' }}{% endif %}">
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <button class="btn btn-success" type="submit">filter</button>
                </form>
            </div>
        </div>
    </div>
    {% include "ledger/accounts/category/partials/_table.html" with entries=entries options=True %}
    <div class="panel-body">
        {% pagination paginator entries 'entries' %}
    </div>
</div>
{% endblock %}
