{% extends "ledger/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">dashboard</a></li>
<li><a href="{% url 'categories' %}">categories</a></li>
<li><a href="{% url 'category' category.slug %}">{{ category.name|lower }}</a></li>
<li>{% if category.id %}edit {{ category.name|lower }}{% else %}add category{% endif %}</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="shape shapeform">
			<div class="title">{% if category.id %}edit {{ category.name|lower }}{% else %}add category{% endif %}</div>
			<div class="content">
				<form action="{% if category.id %}{% url 'category_edit' category.slug %}{% else %}{% url 'category_add' category.slug %}{% endif %}" method="post" class="form-horizontal">
					{% csrf_token %}

					{% for field in form %}
						<div class="form-group{% if form.errors %} {{ field.errors|yesno:'has-error,has-success' }}{% endif %}">
							<label class="col-sm-2 control-label{% if field.field.required %} required{% endif %}" for="{{ field.auto_id }}">{{ field.label|lower }}:</label>
							<div class="col-sm-10">
								{{ field }}
								<span class="help-block">{{ field.help_text|lower }}</span>
								<span class="help-block">{{ field.errors|lower }}</span>
							</div>
						</div>
					{% endfor %}

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button class="btn btn-primary" name="_add_category" value="_add_category" type="submit">save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock%}