{% extends "ledger/base.html" %}
{% load bootstrap categories i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Categories" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th>{% trans "Category" %}</th>
                        <th>{% trans "Accounts" %}</th>
                        <th>{% trans "Number of entries" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <th><a href="{% url "categories:category_detail" category.slug %}">{{ category.name }}</a></th>
                            <td>
                                {% for account in category|accounts:user %}
                                    <a href="{% url "accounts:account_detail" account.slug %}">{{ account.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-right">{{ category|entry_count:user }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
