{% extends "ledger/popup.html" %}
{% load i18n %}


{% block content %}
<div class="alert alert-danger" role="alert">
    <h5><b>{% trans "Confirm deletion" %}</b></h5>
    <p>{% blocktrans %}Are you sure you want to delete this category? All of the following objects and their related items will be deleted:{% endblocktrans %}</p>
    <ul>
        <li>
            {% trans "Category" %}: <a href="{% url "categories:category_detail" category.slug %}">{{ category.name }}</a>
            {% if category.accounts %}
                <ul>
                    {% for account in category.accounts.all %}
                        <li>
                            {% trans "Account" %}: <a href="{% url "accounts:account_detail" account.slug %}">{{ account.name }}</a>
                            <ul>
                                {% for entry in account.entries.all %}
                                    <li>{% trans "Entry" %}: <a href="{% url "accounts:entry_detail" account.slug entry.id %}">{{ entry.account.name }} - #{{ entry.serial_number }} ({{ entry.day|date:"D., d. F Y" }})</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if category.entries %}
                <ul>
                    {% for entry in category.entries.all %}
                        <li>{% trans "Entry" %}: <a href="{% url "accounts:entry_detail" entry.id %}">{{ entry.account.name }} - #{{ entry.serial_number }} ({{ entry.day|date:"D., d. F Y" }})</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    </ul>
    <form action="" method="post">{% csrf_token %}</form>
</div>
{% endblock%}
