{% extends "ledger/base.html" %}
{% load categories i18n ledger static %}


{% block extrahead %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/categories/categories.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $("a.iframeFormModal").modal({
            show: false
        });
        $('#iframeFormModal').on('show.bs.modal', function (event) {
            $("#iframeFormModalLabel").html(event.relatedTarget.title);
            $("#iframeFormModalIframe").attr("src", event.relatedTarget.href);

            if ( event.relatedTarget.href.includes("/categories/category/") && event.relatedTarget.href.includes("/edit/") ) {
                $("#iframeFormModalSubmit").addClass("btn-primary");
                $("#iframeFormModalSubmit").removeClass("btn-danger");
                $("#iframeFormModalSubmit").html("<span class=\"fas fa-save\"></span> {% trans "Save" %}");
            }
            else if ( event.relatedTarget.href.includes("/categories/category/") && event.relatedTarget.href.includes("/delete/") ) {
                $("#iframeFormModalSubmit").addClass("btn-danger");
                $("#iframeFormModalSubmit").removeClass("btn-primary");
                $("#iframeFormModalSubmit").html("<span class=\"fas fa-trash\"></span> {% trans "Yes, I'm sure" %}");
            }
        });

        $("#iframeFormModalIframe").on("load", function() {
            $("#iframeFormModalIframe").width(Math.max(400, $("#iframeFormModalIframe").prop("contentWindow").document.body.scrollWidth));
            $("#iframeFormModalIframe").height(Math.max(200, $("#iframeFormModalIframe").prop("contentWindow").document.body.scrollHeight));
            $("#iframeFormModal").modal("handleUpdate");
        });
    });
</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="btn-group" role="group">
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="{% if year or request.get_full_path|endswith:"?statistics=" %}false{% else %}true{% endif%}" aria-controls="collapseDetails" id="details">{% trans "Details" %}</button>
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseStatistics" aria-expanded="{% if year or request.get_full_path|endswith:"?statistics=" %}true{% else %}false{% endif%}" aria-controls="collapseStatistics" id="statistics">{% trans "Statistics" %}</button>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <a href="{% url "categories:category_edit" category.slug  %}?reload=True" class="btn btn-outline-primary iframeFormModal" data-toggle="modal" data-target="#iframeFormModal" role="button" title="{% trans "Edit category" %}">{% trans "Edit" %}</a>
        <a href="{% url "categories:category_delete" category.slug  %}?reload=True" class="btn btn-outline-danger iframeFormModal" data-toggle="modal" data-target="#iframeFormModal" role="button" title="{% trans "Delete category" %}">{% trans "Delete" %}</a>
    </div>
</div>
<div id="category">
    <div class="collapse{% if not year and not request.get_full_path|endswith:"?statistics=" %} show{% endif%}" id="collapseDetails" aria-labelledby="details" data-parent="#category">
        <div class="row mt-2">
            <div class="col">
                <div class="card card-body">
                    <dl class="row">
                        <dt class="col-md-3">{% trans "Created at" %}</dt>
                        <dd class="col-md-9">{{ category.created_at|date:"r" }}</dd>
                        <dt class="col-md-3">{% trans "Last updated at" %}</dt>
                        <dd class="col-md-9">{{ category.updated_at|date:"r" }}</dd>
                        <dt class="col-md-3">{% trans "Accounts" %}</dt>
                        <dd class="col-md-9">
                            {% for account in category|accounts:user %}
                                {% if account.category == category %}
                                    <a href="{% url "accounts:account_detail" account.slug %}">{{ account.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </dd>
                        <dt class="col-md-3">{% trans "Number of entries" %}</dt>
                        <dd class="col-md-9">{{ category|entry_count:user }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse{% if year or request.get_full_path|endswith:"?statistics=" %} show{% endif%}" id="collapseStatistics" aria-labelledby="statistics" data-parent="#category">
        <div class="row mt-2">
            <div class="offset-md-5 col-md-2 text-center">
                {% if year %}
                    <a class="btn btn-secondary" href="{% url "categories:category_detail" category.slug %}?statistics=">{% trans "Reset" %}</a>
                {% else %}
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownYears" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans "Select a year" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownYears">
                            {% for year in years %}
                            <a class="dropdown-item" href="{% url "categories:category_detail" category.slug year %}">{{ year }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="schart" style="min-width: 310px; height: 750px;"></div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        var url = "{% if year %}{% url "categories:category_chart_statistics" category.slug year %}{% else %}{% url "categories:category_chart_statistics" category.slug %}{% endif %}";
                        statistics(url, "schart");
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="iframeFormModal" tabindex="-1" role="dialog" aria-labelledby="iframeFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="iframeFormModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Cancel" %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="iframeFormModalIframe" name="iframeFormModalIframe" frameborder="0" width="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button id="iframeFormModalSubmit" type="submit" class="btn" onclick="window.frames['iframeFormModalIframe'].document.forms[0].submit();"></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
