{% extends "ledger/base.html" %}
{% load i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "categories:tag_list" %}">{% trans "Tags" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "categories:tag_detail" tag.slug %}">{{ tag.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{% trans "Delete" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-danger" role="alert">
            <h5><b>{% trans "Confirm deletion" %}</b></h5>
            <p>{% blocktrans %}Are you sure you want to delete this tag? All of the following objects and their related items will be deleted:{% endblocktrans %}</p>
            <ul>
                <li>
                    {% trans "Tag" %}: <a href="{% url "categories:tag_detail" tag.slug %}">{{ tag.name }}</a>
                </li>
            </ul>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="{% trans "Yes, I'm sure" %}" class="btn btn-danger"/>
            </form>
        </div>
    </div>
</div>
{% endblock%}
