{% extends "ledger/base.html" %}
{% load i18n %}

{% block option_menu %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="shape shapeform">
	<div class="title">add tag</div>
	<div class="content">
		<form action="" method="post" class="form-horizontal">
			{% csrf_token %}

			{% for field in form %}
				<div class="form-group{% if form.errors %} {{ field.errors|yesno:'has-error,has-success' }}{% endif %}">
					<label class="col-sm-2 control-label{% if field.field.required %} required{% endif %}" for="{{ field.auto_id }}">{{ field.label|lower }}:</label>
					<div class="col-sm-10">
						{{ field }}
						<span class="help-block">{{ field.help_text|lower }}</span>
						<span class="help-block">{{ field.errors|lower }}</span>
					</div>
				</div>
			{% endfor %}

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-primary" name="_add_tag" value="_add_tag" type="submit">save</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock%}