{% extends "ledger/base.html" %}
{% load i18n %}

{% block option_menu %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="shape form-horizontal">
	<form action="" method="post">
		{% csrf_token %}
		<div class="title">add tag</div>
		<div class="content">
			{% for field in form %}
				<div class="form-row{{ field.errors|yesno:' error,' }}">
					<div>
						<div class="control-label">
							<label {% if field.field.required %}class="required"{% endif %} for="{{ field.auto_id }}">{{ field.label }}:</label>
						</div>
						<div class="controls">
							{{ field }}
							<div class="help-inline">{{ field.help_text }}</div>
							<div class="help-inline">{{ field.errors }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="form-row">
				<div>
					<div class="control-label"></div>
					<div class="controls">
						<a class="btn btn-primary" name="_add_tag" value="_add_tag" type="submit">save</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock%}