{% extends "ledger/base.html" %}
{% load accounts_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">dashboard</a><span class="divider"></span></li>
<li><a href="{% url 'tags' %}">tags</a><span class="divider"></span></li>
<li><a href="{% url 'tag' tag.slug %}">{{ tag.name|lower }}</a><span class="divider"></span></li>
<li class="active">entries</li>
{% endblock %}

{% block content %}
<div class="shape category">
	<div class="title">entries</div>
	<div class="content">
		<div class="entries">
			<div class="row">
				<div class="col-md-1"><b>total:</b> {% for unit, total in totals.items %}{{ total|colorfy:unit }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
			</div>
			<div class="row" style="margin-top: 10px;">
				<div class="col-md-12">
					{% include "ledger/accounts/tag/partials/_table.html" with entries=entries options=True %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}