{% extends "ledger/base.html" %}
{% load static accounts_tags chartkick %}

{% block extrahead %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'chartkick.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">dashboard</a></li>
<li><a href="{% url 'tags' %}">tags</a></li>
<li class="active">{{ tag.name|lower }}</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-10"><h1>{{ tag.name|lower }}</h1></div>
	<div class="col-md-2">
		<h1>
			<a href="{% url 'tag_edit' tag.slug  %}" class="btn btn-primary" role="button"><i class="ui-icon ui-icon-white ui-icon-pencil" style="float:left;margin-top:2px;"></i>edit</a>
			<a href="{% url 'tag_delete' tag.slug  %}" class="btn btn-danger" role="button"><i class="ui-icon ui-icon-white ui-icon-trash" style="float:left;margin-top:2px;"></i>delete</a>
		</h1>
	</div>
</div>
<div class="shape fullshape">
	<div class="title">{{ tag.name|lower }}</div>
	<div class="content">
		<div class="entries">
			<div class="row">
				<div class="col-md-2"><b>total:</b> {% for unit, total in totals.items %}{{ total|colorfy:unit }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
		</div>
		{% if monthly_data %}
			{% column_chart monthly_data with library=ml %}
		{% endif %}
		{% if yearly_data %}
			{% column_chart yearly_data with library=yl %}
		{% endif %}
	</div>
</div>
<div class="shape fullshape" style="margin-top: 15px;">
	<div class="title"><a href="{% url 'tag_entries' tag.slug %}">entries</a></div>
	<div class="content">
		<div class="entries">
			{% include "ledger/accounts/tag/partials/_table.html" with entries=entries options=False %}
		</div>
	</div>
</div>
{% endblock %}