{% extends "ledger/base.html" %}
{% load accounts_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">dashboard</a></li>
<li class="active">tags</li>
{% endblock %}

{% block content %}
<div class="shape fullshape">
	<div class="title"><a href="{% url 'tags' %}">tags</a></div>
	<div class="content">
		<div class="entries">
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th>tag</th>
						<th>entries</th>
					</tr>
				</thead>
				<tbody>
					{% for tag in tags %}
						<tr>
							<td><a href="{% url 'tag' tag.slug %}">{{ tag.name|lower }}</a></td>
							<td>{{ tag.entries.count }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}