{% extends "ledger/base.html" %}
{% load accounts ledger %}

{% block content %}
<script>
    $(function() {
        $('#id_start_date').datepicker({
            dateFormat:'yy-mm-dd',
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $('#id_end_date').datepicker({
            dateFormat:'yy-mm-dd',
            firstDay: 1,
            showOtherMonths: true,
            selectOtherMonths: true
        });
    });
</script>
{{ form.media }}

<h1 class="page-header">entries</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <h5>
                    <b>balance:</b>
                    {% if f %}
                        {{ entry_list|sumentries }}
                    {% else %}
                        {% balance request.user %}
                    {% endif %}
                </h5>
            </div>
            <div class="col-md-6 text-center">
                <form method="post" class="form-inline">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group{% if form.errors %} {{ field.errors|yesno:'has-error,has-success' }}{% endif %}">
                            {{ field }}
                        </div>
                    {% endfor %}

                    <button class="btn btn-success" type="submit">filter</button>
                    <a href="{% url 'entries' %}" class="btn btn-info">clear</a>
                </form>
            </div>
           <div class="col-md-3 text-right">
                <a class="btn btn-primary" href="{% url 'entry_add' %}"><span class="glyphicon glyphicon-plus"></span> add entry</a>
                <a class="btn btn-primary" href="{% url 'standing_entry_add' %}"><span class="glyphicon glyphicon-plus"></span> add standing entry</a>
            </div>
        </div>
    </div>
    {% include "ledger/accounts/entry/partials/_table.html" with entries=entries options=True %}
    <div class="panel-body">
        {% pagination paginator entries 'entries' %}
    </div>
</div>
{% endblock %}
