{% extends "ledger/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<ul>
		<li><a href="{% url 'dashboard' %}">dashboard</a><span class="divider"></span></li>
		<li><a href="{% url 'account' account.slug %}">{{ account.name|lower }}</a><span class="divider"></span></li>
		<li><a href="{% url 'entries' account.slug %}">entries</a><span class="divider"></span></li>
		<li>{% if entry.id %}change entry{% else %}add entry{% endif %}</li>
	</ul>
</div>
{% endblock %}

{% block content %}
<script>
	$(function() {
		$( "#id_day" ).datepicker({ dateFormat: 'yy-mm-dd' });
	});
</script>
{{ form.media }}
<div class="shape form-horizontal">
	<form action="{% if entry.id %}{% url 'entry_change' account.slug entry.id %}{% else %}{% url 'entry_add' account.slug %}{% endif %}" method="post">
		{% csrf_token %}
		<div class="title">{% if entry.id %}change entry{% else %}add entry{% endif %}</div>
		<div class="content">
			{% for field in form %}
				<div class="form-row{{ field.errors|yesno:' error,' }}">
					<div>
						<div class="control-label">
							<label {% if field.field.required %}class="required"{% endif %} for="{{ field.auto_id }}">{{ field.label }}:</label>
						</div>
						<div class="controls">
							{{ field }}
							<div class="help-inline">{{ field.help_text }}</div>
							<div class="help-inline">{{ field.errors }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="form-row">
				<div>
					<div class="control-label"></div>
					<div class="controls">
						<button class="btn" name="_entry_form" value="_entry_form" type="submit">save</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock%}