{% extends "ledger/base.html" %}
{% load i18n %}

{% block content %}
<script>
    $(function() {
        {% if 'standing' in request.path %}
            $('#id_start_date').datepicker({dateFormat:'yy-mm-dd'});
            $('#id_end_date').datepicker({dateFormat:'yy-mm-dd'});
        {% else %}
            $('#id_day').datepicker({dateFormat:'yy-mm-dd'});
        {% endif %}
    });
</script>
{{ form.media }}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><a href="{% url 'account' account.slug %}">{{ account.name|lower }}</a>
            <small><a href="{% url 'account_entries' account.slug %}">entries</a></small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title" href="{% url 'account_entries' account.slug %}">{% if entry.id %}edit entry #{{ entry.serial_number }}{% else %}add{% if 'standing' in request.path %} standing{% endif %} entry{% endif %}</h1>
            </div>
            <div class="panel-body">
                <form action="{% if 'standing' in request.path %}{% url 'standing_entry_add' account.slug %}{% else %}{% if entry.id %}{% url 'entry_edit' account.slug entry.id %}{% else %}{% url 'entry_add' account.slug %}{% endif %}{% endif %}" method="post" class="form-horizontal">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group{% if form.errors %} {{ field.errors|yesno:'has-error,has-success' }}{% endif %}">
                            <label class="col-sm-3 control-label{% if field.field.required %} required{% endif %}" for="{{ field.auto_id }}">{{ field.label|lower }}:</label>
                            <div class="col-sm-6">
                                {{ field }}
                                <span class="help-block">{{ field.help_text|lower }}</span>
                                <span class="help-block">{{ field.errors|lower }}</span>
                            </div>
                            <div class="col-sm-3">
                                {% if field.auto_id == 'id_day' %}
                                    <a id="date_today" style="cursor: pointer;">today</a>
                                    <script>
                                        $('#date_today').click(function() {
                                            $('#id_day').val('{{ today|date:'Y-m-d' }}');
                                            $('#id_amount').focus();
                                            return false;
                                        });
                                    </script>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-primary" name="_add_entry" value="_add_entry" type="submit">save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}
