{% extends "ledger/base.html" %}

{% block breadcrumbs %}
<li class="active">dashboard</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-2 col-md-offset-10">
		<a class="btn btn-info" href="{% url 'statistics' %}" role="button">statistics</a>
		<a class="btn btn-success" href="{% url 'add_account' %}" role="button"><i class="ui-icon ui-icon-white ui-icon-circle-plus" style="float:left;margin-top:2px;"></i>add account</a>
	</div>
</div>
<div class="row">
	<div id="dashboard" class="col-md-12">
	{% if accounts %}
		{% for account in accounts %}
			{% include "ledger/accounts/dashboard/partials/_shape.html" with account=account %}
		{% endfor %}
	{% else %}
		<p>No accounts are available.</p>
	{% endif %}
	</div>
</div>
{% endblock %}