{% extends "ledger/base.html" %}
{% load bootstrap i18n l10n ledger portfolio static units %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
<script type="text/javascript" src="{% static "js/highcharts/highcharts.js" %}"></script>
<script type="text/javascript" src="{% static "js/highcharts/highcharts-more.js" %}"></script>
<script type="text/javascript" src="{% static "js/highcharts/modules/data.js" %}"></script>
<script src="{% static "js/position.js" %}"></script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-8">
        <h1>{{ position.content_object.name }} [{{ position.start_date|date:"Y-m-d" }}]</h1>
        {% if position.closed %}<div class="alert alert-danger" role="alert">{% translate "This position is currently closed." %}</div>{% endif %}
    </div>
    <div class="col-4 text-end">
        <a class="btn btn-outline-primary" href="{% url "portfolio:position_edit" position.slug %}" title="{% blocktranslate with position=position %}Edit position {{ position }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fa-solid fa-edit"></span> {% translate "Edit" %}</a>
        <a class="btn btn-outline-danger" href="{% url "portfolio:position_delete" position.slug %}" title="{% blocktranslate with position=position %}Delete position {{ position }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fa-solid fa-trash"></span> {% translate "Delete" %}</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-hover table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">{% translate "Created at" %}</th>
                        <td>{{ position.created_at|date:"r" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate "Last updated at" %}</th>
                        <td>{{ position.updated_at|date:"r" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate "Name" %}</th>
                        <td>{{ position.slug }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate "Tradeable" %}</th>
                        <td>{{ position.content_object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate "Trailing-stop ATR factor" %}</th>
                        <td>{{ position.trailing_stop_atr_factor }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate "Number of trades" %}</th>
                        <td>{{ position.trades.count }}</td>
                    </tr>
                    {% if not position.closed and position.trades.count > 0 %}
                    <tr>
                        <th scope="row">{% translate "Invested" %}</th>
                        <td>{{ position.invested|unitformat:position.content_object.currency }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate "Units" %}</th>
                        <td>{{ position.units }}</td>
                    </tr>
                    {% endif %}
                    {% if position.trades.count > 0 %}
                    <tr>
                        <th scope="row">{% translate "Return" %}</th>
                        <td>{{ position.preturn|unitcolorfy:position.content_object.currency }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate "Win/Loss" %}</th>
                        <td>{{ position.win_loss|unitcolorfy:position.content_object.currency }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% translate "Dividend" %}</th>
                        <td>{{ position.dividend|unitcolorfy:position.content_object.currency }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{% translate "Annual return" %}</th>
                        <td>{{ position.annual_return|unitcolorfy:"%.3f%%" }}</td>
                    </tr>
                    <tr>
                        <th scope="col">{% translate "Yield" %}</th>
                        <td>{{ position.pyield|unitcolorfy:"%.3f%%" }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if position.trades.all %}
<div class="row">
    <div class="col-8">
        <h2>{% translate "Win/Loss-chart" %}</h2>
    </div>
    <div class="col-4 text-end">
        <a class="btn btn-outline-primary" href="{% url "portfolio:closing_create" %}" title="{% translate "Add closings" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fa-solid fa-plus"></span> {% translate "Add closings" %}</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="chart" style="min-width: 310px; height: 600px;"></div>
        <script type="text/javascript">
            $(document).ready(function() {
                position("{% url "portfolio:position_chart" position.slug %}", "chart");
            });
        </script>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <h2>{% translate "Trades" %}</h2>
    </div>
    <div class="col-4 text-end">
        <a class="btn btn-outline-primary" href="{% url "portfolio:trade_create" %}?position={{ position.slug }}" title="{% translate "Add trade" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fa-solid fa-plus"></span> {% translate "Add trade" %}</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="text-center">{% translate "Trade" %}</th>
                        <th class="text-center" scope="col" colspan="2">{% translate "Date" %}</th>
                        <th class="text-center" scope="col">{% translate "Type" %}</th>
                        <th class="text-center" scope="col">{% translate "Units" %}</th>
                        <th class="text-center" scope="col">{% translate "Price per unit" %}</th>
                        <th class="text-center" scope="col">{% translate "Extra costs" %}</th>
                        <th class="text-center" scope="col">{% translate "Exchange rate" %}</th>
                        <th class="text-center" scope="col">{% translate "Extra costs" %}</th>
                        <th class="text-center" scope="col">{% translate "Total" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% now "Y-m-d" as today %}
                    {% for trade in position.trades.all %}
                    <tr {% if entry.date|date:"Y-m-d" == today %}class="table-info"{% endif %}>
                        <th scope="row">{{ trade.serial_number }}</th>
                        <td>{{ trade.date|date:"d.m.Y" }}</td>
                        <td>{{ trade.date|date:"D" }}</td>
                        <td>{{ trade.get_type_display }}</td>
                        <td class="text-end">{{ trade.units|floatformat:5 }}</td>
                        <td class="text-end">{{ trade.unit_price|unitformat:trade.unit }}</td>
                        <td class="text-end">{{ trade.extra|unitformat:trade.unit }}</td>
                        <td class="text-end">{{ trade.exchange_rate|default_if_none:"" }}</td>
                        <td class="text-end">{{ trade.extra2|unitformat:position.unit }}</td>
                        <td class="text-end">{{ trade.total|unitformat:position.unit }}</td>
                        <td>
                            <a class="iframeFormModal" href="{% url "portfolio:trade_edit" trade.pk %}" title="{% blocktranslate with position=trade.position trade=trade.pk %}Edit trade {{ position }} #{{ trade }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fa-solid fa-edit"></span></a>
                            <a class="iframeFormModal" href="{% url "portfolio:trade_delete" trade.pk %}" title="{% blocktranslate with position=trade.position trade=trade.pk %}Delete trade {{ position }} #{{ trade }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fa-solid fa-trash"></span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
