{% extends "ledger/popup.html" %}
{% load bootstrap ledger i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_tradeable").select2({
            placeholder: "{% trans "Select a tradeable" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
            ajax: {
                url: "{% url "portfolio:tradeable_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tradeables }
                }
            }
        });
        $("#id_unit").select2({
            placeholder: "{% trans "Select a unit" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
            ajax: {
                url: "{% url "units:unit_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.units }
                }
            }
        });
    });
</script>
{% endblock %}


{% block content %}
{% bootstrap_form form=form submit=False %}
{% endblock%}
