{% extends "ledger/base.html" %}
{% load bootstrap i18n l10n ledger portfolio static units %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
<script type="text/javascript">
    $(function() {
        $("#id_closed").select2({
            placeholder: "{% trans "State" %}",
            language: "{{ LANGUAGE_CODE }}",
            width: "element",
        });
        $("#id_tradeables").select2({
            placeholder: "{% trans "Tradeables" %}",
            language: "{{ LANGUAGE_CODE }}",
            width: "element",
            ajax: {
                url: "{% url "portfolio:tradeable_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.tradeables }
                }
            }
        });

        $('#iframeFormModal').on('show.bs.modal', function (e) {
            if ( e.relatedTarget.href.includes("/create/") || e.relatedTarget.href.includes("/edit/") ) {
                $("#iframeFormModalSubmit").addClass("btn-primary");
                $("#iframeFormModalSubmit").removeClass("btn-danger");
                $("#iframeFormModalSubmit").html("<span class=\"fa-solid fa-save\"></span> {% trans "Save" %}");
                $(".modal-footer").show();
            }
            else if ( e.relatedTarget.href.includes("/delete/") ) {
                $("#iframeFormModalSubmit").addClass("btn-danger");
                $("#iframeFormModalSubmit").removeClass("btn-primary");
                $("#iframeFormModalSubmit").html("<span class=\"fa-solid fa-trash\"></span> {% trans "Yes, I'm sure" %}");
                $(".modal-footer").show();
            }
            else if ( e.relatedTarget.href.includes("/position/") ) {
                $(".modal-footer").hide();
            }
        });
    });
</script>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-9 text-center">
        {% if positions and form %}
            {% trans "Filter" as filter_trans %}
            {% bootstrap_form csrf=False method="get" form=form url=form_url type="inline" submit_icon="fa-solid fa-search" submit_title=filter_trans %}
        {% endif %}
    </div>
   <div class="col text-end">
        <div class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-outline-primary" id="add_dropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false"><span class="fa-solid fa-plus"></span> {% trans "Add" %}</a>
            <div class="dropdown-menu" aria-labelledby="add_dropdown">
                {% if positions %}
                    <a class="dropdown-item" href="{% url "portfolio:trade_create" %}" title="{% trans "Add trade" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal">{% trans "Trade" %}</a>
                    <div><hr class="dropdown-divider"></div>
                {% endif %}
                {% if has_tradeables %}
                    <a class="dropdown-item" href="{% url "portfolio:position_create" %}" title="{% trans "Add position" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal">{% trans "Position" %}</a>
                    <div><hr class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{% url "portfolio:tradeable_create" %}" title="{% trans "Add Tradeable" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal">{% trans "Tradeable" %}</a>
                {% if has_tradeables %}
                <a class="dropdown-item" href="{% url "portfolio:closing_create" %}" title="{% trans "Add closings" %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal">{% trans "Closings" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if positions %}
<div class="row mt-2">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">{% trans "Position" %}</th>
                        <th class="text-center" scope="col">{% trans "Closed" %}</th>
                        <th class="text-center" scope="col">{% trans "Tradeable" %}</th>
                        <th class="text-center" scope="col">{% trans "Number of trades" %}</th>
                        <th class="text-center" scope="col">{% trans "Invested" %}</th>
                        <th class="text-center" scope="col">{% trans "Units" %}</th>
                        <th class="text-center" scope="col">{% trans "Return" %}</th>
                        <th class="text-center" scope="col">{% trans "Win/Loss" %}</th>
                        <th class="text-center" scope="col">{% trans "Dividend" %}</th>
                        <th class="text-center" scope="col">{% trans "Annual return" %}</th>
                        <th class="text-center" scope="col">{% trans "First trade" %}</th>
                        <th class="text-center" scope="col">{% trans "Last trade" %}</th>
                        <th class="text-center" scope="col">{% trans "Duration" %}</th>
                        <th scope="col"><span class="visually-hidden">{% trans "Options" %}</span></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-end">{% invested positions %}</td>
                        <td></td>
                        <td></td>
                        <td class="text-end">{% win_loss positions %}</td>
                        <td class="text-end">{% dividend positions %}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for position in positions %}
                        <tr>
                            <th scope="row"><a href="{% url "portfolio:position_detail" position.slug %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal" title="{% blocktranslate with name=position.slug %}Position {{ name }}{% endblocktranslate %}">{{ position.content_object.name }} <small>[{{ position.start_date|date:"Y-m-d" }}]</small></a></th>
                            <td class="text-center">
                                {% if position.closed %}
                                    {% trans "yes" %}
                                {% else %}
                                    {% trans "no" %}
                                {% endif %}
                            </td>
                            <td data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="{{ position.content_object|as_title }}">
                                <a href="{% url "portfolio:position_list" %}?tradeables={{ position.content_type.model.lower }}:{{ position.content_object.pk }}{% if end_date %}&end_date={{ end_date|date:"Y-m-d" }}{% endif %}">{{ position.content_object.name }}</a>
                            </td>
                            <td class="text-end">{{ position.trades.count }}</td>
                            <td class="text-end">{% if not position.closed and position.trades.count > 0 %}{{ position.invested|unitformat:position.unit }}{% endif %}</td>
                            <td class="text-end">{% if not position.closed and position.trades.count > 0 %}{{ position.units }}{% endif %}</td>
                            <td class="text-end">{% if position.trades.count > 0 %}{{ position.preturn|unitformat:position.unit }}{% endif %}</td>
                            <td class="text-end">{% if position.trades.count > 0 %}{{ position.win_loss|unitcolorfy:position.unit }}{% endif %}</td>
                            <td class="text-end">{% if position.trades.count > 0 %}{{ position.dividend|unitformat:position.unit }}{% endif %}</td>
                            <td class="text-end">{{ position.annual_return|unitcolorfy:"%.3f%%" }}</td>
                            <td class="text-end">{{ position.start_date|date:"d.m.Y" }}</td>
                            <td class="text-end">{% if position.closed %}{{ position.end_date|date:"d.m.Y" }}{% endif %}</td>
                            <td class="text-end">{{ position|duration }}</td>
                            <td>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle menu-dropdown-toggle" id="options-{position.pk}" data-bs-toggle="dropdown" data-bs-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></a>
                                    <div class="dropdown-menu" aria-labelledby="options-{position.pk}">
                                        <div class="dropdown-item text-muted">
                                            {{ position }}
                                        </div>
                                        <div><hr class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url "portfolio:position_edit" position.slug %}" title="{% blocktranslate with position=position %}Edit position {{ position }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fas fa-edit"></span> {% trans "Edit" %}</a>
                                        {% if not position.closed %}
                                            <a class="dropdown-item" href="{% url "portfolio:position_close" position.slug %}" title="{% blocktranslate with position=position %}Close position {{ position }}{% endblocktranslate %}"><span class="fas fa-clone"></span> {% trans "Close" %}</a>
                                        {% endif %}
                                        <a class="dropdown-item" href="{% url "portfolio:position_delete" position.slug %}" title="{% blocktranslate with position=position %}Delete position {{ position }}{% endblocktranslate %}" data-bs-toggle="modal" data-bs-target="#iframeFormModal"><span class="fas fa-trash"></span> {% trans "Delete" %}</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col text-center">
        <h3>{% trans "There is no data available." %}</h3>
    </div>
</div>
{% endif %}
{% endblock %}
