{% extends "ledger/popup.html" %}
{% load i18n %}


{% block content %}
<div class="alert alert-danger" role="alert">
    <h5><b>{% translate "Confirm deletion" %}</b></h5>
    <p>{% blocktranslate %}Are you sure you want to delete this position? All of the following objects and their related items will be deleted:{% endblocktranslate %}</p>
    <ul>
        <li>
            {% translate "Position" %}: <em>{% blocktranslate with position=trade.position no=trade.pk %}Trade {{ position }} #{{ no }}{% endblocktranslate %}</em>
            {% if position.trades %}
                <ul>
                    {% for trade in position.trades.all %}
                        <li>{% translate "Trade" %}: <em>#{{ trade.pk }}: {{ trade.date|date:"D., d. F Y" }} - {{ trade.get_type_display }}</em></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    </ul>
    <form action="" method="post">{% csrf_token %}</form>
</div>
{% endblock%}
