{% extends "popup.html" %}
{% load django_html_utils ledger i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_currency").select2({
            placeholder: "{% translate "Select a currency" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
            ajax: {
                url: "{% url "units:unit_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.units }
                }
            }
        });
        $("#id_type").select2({
            placeholder: "{% translate "Select a type" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
        });
    });
</script>
{% endblock %}


{% block content %}
{% form form=form submit=False %}
{% endblock%}
