{% extends "ledger/popup.html" %}
{% load bootstrap ledger i18n l10n %}
{% get_current_language as LANGUAGE_CODE %}


{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#id_date").datepicker({
                dateFormat:"yy-mm-dd",
                firstDay: 1,
                showOtherMonths: true,
                selectOtherMonths: true
            });
            $("#date_today").click(function() {
                $("#id_date").val("{% now "Y-m-d" %}");
                $("#id_amount").focus();
                return false;
            });
        $("#id_position").select2({
            placeholder: "{% trans "Select a position" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
            ajax: {
                url: "{% url "portfolio:position_autocomplete" %}?append",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.positions }
                }
            }
        });
        $("#id_type").select2({
            placeholder: "{% trans "Select a type" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
        });
        $("#id_unit").select2({
            placeholder: "{% trans "Select a unit" %}",
            allowClear: true,
            language: "{{ LANGUAGE_CODE }}",
            width: "100%",
            ajax: {
                url: "{% url "units:unit_autocomplete" %}",
                dataType: "json",
                delay: 250,
                data: function (params) {
                    return { q: params.term };
                },
                processResults: function (data, params) {
                    return { results: data.units }
                }
            }
        });
    });
</script>
{% endblock %}


{% block content %}
{% bootstrap_form form=form submit=False %}
{% endblock%}
