{% extends 'base.html' %}
{% load i18n static %}


{% block extrahead %}
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/charts/accounts/categories/statistics.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var url = "{% url 'category_chart_statistics' category.slug %}{% if year %}?year={{ year }}{% endif %}";
        statistics(url, 'chart');
    });
</script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url 'dashboard' %}">{% trans 'dashboard' %}</a></li>
<li><a href="{% url 'categories' %}">{% trans 'categories' %}</a></li>
<li><a href="{% url 'category' category.slug %}">{{ category.name|lower }}</a></li>
{% if year %}
    <li><a href="{% url 'category_statistics' category.slug %}">{% trans 'statistics' %}</a></li>
    <li class="active">{{ year }}</li>
{% else %}
    <li class="active">{% trans 'statistics' %}</li>
{% endif %}
{% endblock %}


{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            statistics
            {% if year %}<small>{{ year }}</small>{% endif %}
        </h1>
    </div>
    <div class="panel-body">
        {% if years %}
            <div class="btn-group" style="margin-left: 5px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans 'select a year' %} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    {% for year in years %}
                        <li><a href="{% url 'category_statistics' category.slug %}?year={{ year }}">{{ year }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div id="chart" style="min-width: 310px; height: 770px;"></div>
    </div>
</div>
{% endblock %}
