{% extends "ledger/base.html" %}
{% load i18n %}


{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li class="breadcrumb-item"><a href="{% url "units:list" %}">{% trans "Units" %}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ unit.name }}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <dl class="row">
            <dt class="col-md-3">{% trans "Created at" %}</dt>
            <dd class="col-md-9">{{ unit.created_at|date:"r" }}</dd>
            <dt class="col-md-3">{% trans "Last updated at" %}</dt>
            <dd class="col-md-9">{{ unit.updated_at|date:"r" }}</dd>
            <dt class="col-md-3">{% trans "Symbol" %}</dt>
            <dd class="col-md-9">{{ unit.symbol }}</dd>
            <dt class="col-md-3">{% trans "Precision" %}</dt>
            <dd class="col-md-9">{{ unit.precision }}</dd>
        </dl>
    </div>
</div>
{% endblock%}
